<div class="eventInfo__titleRow">
  <h2 class="mat-h2 eventInfo__titleRow__name">
    <span class="eventInfo__titleRow__event">
      {{ item.event }}:
    </span>

    <code *ngIf="item.event === twitchEventTypes.message">{{item.contains}}</code>
    <code *ngIf="item.event === twitchEventTypes.channelPoints"

          [style.background]="item.channelPointData?.background_color"
          [style.color]="item.channelPointData?.background_color | fontColorContrast"
    >
      {{item.channelPointData?.title | showOnlyLastCharacters: 15}}
    </code>
    <code *ngIf="item.event !== twitchEventTypes.message && item.event !== twitchEventTypes.channelPoints">
      <ng-container *ngIf="item.minAmount || item.maxAmount">
        {{item.minAmount}} - {{item.maxAmount}}
      </ng-container>

      <ng-container *ngIf="!item.minAmount && !item.maxAmount">
        any range
      </ng-container>
    </code>
  </h2>

  <div class="mat-caption">
    <ng-container *ngIf="item.aliases?.length > 0; else noAliases">
      Aliases assigned: {{item.aliases.length}}
    </ng-container>

    <ng-template #noAliases>
      &nbsp;
    </ng-template>
  </div>

</div>

<div class="eventInfo__checkbox">
    <button mat-icon-button [matMenuTriggerFor]="menu"
            aria-label="action context menu" class="hide_until_hover"
            (menuOpened)="menuIsOpened = true"
            (menuClosed)="menuIsOpened = false"
            [class.isOpened]="menuIsOpened">
      <mat-icon svgIcon="more_vert"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item
              (click)="onDelete.emit()">
        <mat-icon svgIcon="delete" color="warn"></mat-icon>
        <span>Delete event</span>
      </button>
    </mat-menu>
</div>

<div class="eventInfo__actionButtons">
  <button (click)="onEdit.emit()" color="accent" mat-flat-button>
    <mat-icon svgIcon="edit"></mat-icon>
    Edit
  </button>

  <button mat-icon-button (click)="onActiveChanged()"
          [class.inactive]="!item.active"
          [color]="item.active ? 'primary' : 'warn' "
          class="twitch_icon"
          [matTooltip]="item.active ? 'Disable Twitch-Command' : 'Enable Twitch-Command'">
    <mat-icon svgIcon="twitch"></mat-icon>
  </button>

  <button (click)="onPreview.emit()" color="primary" mat-button
          matTooltip="Preview this Trigger">
    <mat-icon svgIcon="preview"></mat-icon>
    Trigger
  </button>
</div>

<div class="eventInfo__meta">
  <ng-container *ngIf="allInformations$ | async as information">

    <p class="mat-caption">Action: {{ information.clip?.name }}</p>
    <!-- Screen: <strong>{{ information.screen.name }}</strong> -->

    <app-action-preview [action]="information.clip"
                        height="100px" width="200px"></app-action-preview>

  </ng-container>
</div>

<div *ngIf="item.cooldown">
  Cooldown: <code>{{item.cooldown | readableMs}}</code>
</div>
