<div class="eventInfo__titleRow">
  <h2 class="mat-h2 eventInfo__titleRow__name">
    <span class="eventInfo__titleRow__event">
      {{ item.event }}:
    </span>

    <code *ngIf="item.event === twitchEventTypes.message">{{item.contains}}</code>
    <code *ngIf="item.event !== twitchEventTypes.message">
      <ng-container *ngIf="item.minAmount || item.maxAmount">
        {{item.minAmount}} - {{item.maxAmount}}
      </ng-container>

      <ng-container *ngIf="!item.minAmount && !item.maxAmount">
        any range
      </ng-container>
    </code>
  </h2>
</div>

<div class="eventInfo__checkbox">
  <div *ngIf="item.cooldown">
    Cooldown: <code>{{item.cooldown | readableMs}}</code>
  </div>

  <mat-chip class="eventInfo__chip"
            [class.eventInfo__chip--selected]="item.active">
    <mat-checkbox [checked]="item.active" (change)="onActiveChanged($event)">
      {{item.active ? 'Event active' : 'Event inactive'}}
    </mat-checkbox>
  </mat-chip>
</div>

<div class="eventInfo__actionButtons">
  <button (click)="onEdit.emit()" color="accent" mat-flat-button>
    <mat-icon svgIcon="edit"></mat-icon>
    Edit
  </button>
  <button (click)="onPreview.emit()" color="primary" mat-button
          matTooltip="Preview this Trigger">
    <mat-icon svgIcon="preview"></mat-icon>
    Trigger
  </button>
</div>

<div class="eventInfo__meta">
  <ng-container *ngIf="allInformations$ | async as information">

    <p>Clip: {{ information.clip?.name }}</p>
    <!-- Screen: <strong>{{ information.screen.name }}</strong> -->

    <app-clip-preview [clip]="information.clip"
                      height="100px" width="200px"></app-clip-preview>

  </ng-container>
</div>

<mat-card-actions>
  <button (click)="onDelete.emit()" class="eventInfo__delete" color="warn" mat-flat-button>
    <mat-icon svgIcon="delete"></mat-icon>
    Delete event
  </button>
</mat-card-actions>

