<h1 mat-dialog-title>Selected Screens: {{ selectionState | selectedScreensAmount }}</h1>

<div mat-dialog-content class="columns">
  <div class="column">
    <table>
      <tr>
        <th>        </th>
        <th> Higher Number is above <br/> the previous one </th>
      </tr>
      <ng-container *ngFor="let screenEntry of screenList$ | async">
        <tr>
          <td>
            <mat-checkbox [checked]="selectionState[screenEntry.id].checked"
                          (change)="selectionState[screenEntry.id].checked = $event.checked">
              {{ screenEntry.name }}
            </mat-checkbox>
            <br />

            Clips: {{ screenEntry | clipsInScreenAmount }}
          </td>
          <td>
            <mat-form-field>
              <mat-label>View-Order (zIndex)</mat-label>
              <input matInput [(ngModel)]="selectionState[screenEntry.id].zIndex"
                     placeholder="View-Order (zIndex)"
                     type="number"
                     autocomplete="off"/>
            </mat-form-field>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
  <div class="column">
    <app-network-url-view *ngIf="selectionState | screensArrayToUrl as screensUrl"
                          [urlPath]="screensUrl"></app-network-url-view>
  </div>

</div>

<mat-dialog-actions class="two-columns">
  <div class="column">
    <app-open-feedback-button feedbackTarget="Multi Screen QR-Code Dialog"></app-open-feedback-button>
  </div>
</mat-dialog-actions>
