<!-- Notes
The Browser Elements need to exist all the time
The Loaded Media need to stay cached?

-->

<mat-icon svgIcon="wifi_off" class="connectionIcon"
          *ngIf="showOfflineIcon$ | async">

</mat-icon>

<div *ngFor="let entry of mediaList$ | async; trackBy: trackByKeyValue"
     [ngSwitch]="entry.clip.type"


     appMediaToggle [mediaHoldingElement]="mediaHolder"
     [clipId]="entry.clip.id"
     [screenId]="screenId"
     #mediaToggleVar="appMediaToggle"

     [class.clip-is-visible]="mediaToggleVar.isVisible$ | async"
     class="clip-holder {{ entry.clip.type | mediaTypeClass }} clip-{{ entry.clipSetting.id }} "
>
  <span class="debug-name">{{ entry.clip.name }}</span>

  <div class="media-clip-holder" #mediaHolder>
    <video #video *ngSwitchCase="2" class="media-clip"
           (canplay)="addLog('canplay', $event)"
           (canplaythrough)="addLog('canplaythrough', $event)"
           (ended)="addLog('ended', $event); mediaToggleVar.stopIfStillPlaying();"
           (loadeddata)="addLog('loadeddata', $event)"
           (loadedmetadata)="addLog('loadedmetadata', $event)"
           (loadstart)="addLog('loadstart', $event); addToMap(entry.clip, video)"
           (play)="addLog('play', $event)"
           (playing)="addLog('playing', $event)"
           (progress)="addLog('progress', $event)"
           [class.visible]="mediaToggleVar.isVisible$ | async"
           [src]="entry.clip | mediaToUrl"
           [loop]="entry.clipSetting.loop"
           [volume]="entry.clip.volumeSetting / 100"
    ></video>
    <audio #audio *ngSwitchCase="1"  class="media-clip"
           (ended)="addLog('ended', $event); mediaToggleVar.stopIfStillPlaying();"
           (loadstart)="addToMap(entry.clip, audio)"
           (play)="addLog('play', $event)"
           (playing)="addLog('playing', $event)"
           [class.visible]="mediaToggleVar.isVisible$ | async"
           [src]="entry.clip | mediaToUrl"
           [volume]="entry.clip.volumeSetting / 100"
           [loop]="entry.clipSetting.loop"
           controls
           preload="auto"
    ></audio>
    <img #img *ngSwitchCase="0"  class="media-clip"
         (loadstart)="addToMap(entry.clip, img)"
         [class.visible]="mediaToggleVar.isVisible$ | async"
         [src]="entry.clip | mediaToUrl"
    />
    <iframe #iFrame *ngSwitchCase="3"  class="media-clip"
            (load)="addToMap(entry.clip, iFrame)"
            [class.visible]="(mediaToggleVar.isVisible$ | async)"
            [src]="entry.clip.path | safeurl">
    </iframe>

    <app-dynamic-iframe *ngSwitchCase="4"  class="media-clip" #dynamicIframeComponent
                        (iframeLoaded)="addToMap(entry.clip, dynamicIframeComponent)"
                        [mediaId]="entry.clip.id"
                        [class.visible]="(mediaToggleVar.isVisible$ | async)">

    </app-dynamic-iframe>

  </div>
</div>

<pre style="display: none;">
  {{ log | json }}
  {{ mediaList$ | async | json }}
</pre>
