:host {
  display: block;
  width: 100vw;
  height: 100vh;
}

audio {
  display: none;
}

video, img, iframe, app-dynamic-iframe {
  display: none;

  &.visible {
    display: block;
  }
}

.clip-holder {
  width: var(--clip-setting-width, 100%);
  height: var(--clip-setting-height, 100%);
  transform: var(--clip-setting-transform) !important;

  &:not(.isAnimating) {
    transition: all 1s;  // TODO override transition time
  }

  .media-clip-holder {
    position: relative;
  }

  *:not(pre) {
    width: 100%;
    height: 100%;
  }

  &.image {
    * {
      object-fit: var(--clip-setting-img-fit, contain);
    }
  }
}

.fullscreen {
  position: absolute;
}

.absolute, .random {
  position: absolute;
  bottom: var(--clip-setting-bottom, unset);
  right: var(--clip-setting-right, unset);
  top: var(--clip-setting-top, unset);
  left: var(--clip-setting-left, unset);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

:host{
  .debug-name {
    display: none;
  }

  &.debug-mode {
    audio {
      display: block;
    }

    .debug-name {
      display: block;
    }

    .clip-holder {
      display: block;
      background: var(--clip-background);
    }
  }
}

.custom-css-debug {
  display: none;
  color: black;
}

.connectionIcon {
  color: black;
  height: 25%;
  width: 25%;
  margin: 2rem;
  opacity: 0.4;
}
