
<app-config-card  icon="info">

  <div configCardTitle>

      {{updateAvailableBadgeLabel$ | async}}

    <button (click)="openGitubPage()" color="primary"
            mat-icon-button>
      <mat-icon svgIcon="launch"></mat-icon>
    </button>
  </div>


<div>
  <ng-container *ngIf="config$ | async as config">
  <mat-checkbox [checked]="config?.enableVersionCheck"
                (change)="onVersionCheckChanged($event)">
    Enable Version Update Check
  </mat-checkbox>
  </ng-container>

  <br/>
  <br/>
  <div class="mat-subheader">Built at: {{VERSION_JSON.BUILD_TIME}}</div>
  <div class="mat-subheader">branch: {{VERSION_JSON.BRANCH}} - commit: {{VERSION_JSON.COMMIT}}</div>
</div>

</app-config-card>
