<div class="sidebar__title">
  <h3>Visible Media</h3>

  <div>
    <button mat-button (click)="hiddenSelect.open()"
            matTooltip="Select Media to be listed / previewed">
      <ng-container *ngIf="selectedItems.value?.length === 0">
        All media visible
      </ng-container>
      <ng-container *ngIf="0 != selectedItems.value?.length">
        {{selectedItems.value?.length}} visible
      </ng-container>
      <mat-icon svgIcon="arrow_drop_down"></mat-icon>
    </button>

    <mat-select multiple [formControl]="selectedItems"
                style="visibility:hidden;width: 0"
                #hiddenSelect>
      <mat-option *ngFor="let item of allItems" [value]="item.clip.id">
        {{item.clip.name}}
      </mat-option>
      <mat-select-trigger>

      </mat-select-trigger>
    </mat-select>

    <button (click)="assignMedia()"
            color="accent"
            mat-flat-button>
      <mat-icon svgIcon="playlist_add"></mat-icon>
      Assign Media
    </button>

  </div>


</div>

<div class="sidebar__items">
  <mat-card *ngFor="let visibleItem of visibleItems"
            (click)="onSelectMedia($event, matRippleInstance, visibleItem)"
            [class.selected]="currentSelectedClip?.clip?.id === visibleItem.clip.id"
            matRipple [matRippleDisabled]="true"

            #matRippleInstance="matRipple">
    <!-- TODO Extract Item  MatCard to its own component -->
    <mat-card-header>
      <div mat-card-avatar>
        <app-clip-type [type]="visibleItem.clip.type"
                       iconSize="36px"
                       mat-list-icon>

        </app-clip-type>
      </div>
      <mat-card-title>{{visibleItem.clip.name}}</mat-card-title>
      <mat-card-subtitle>
        {{visibleItem.clipSetting.visibility | visibilityToString}}
        / {{visibleItem.clipSetting.position | positionToString }}
      </mat-card-subtitle>
      <div style="width: 40px; height: 40px">
        <button (click)="openMediaSettingsDialog($event, visibleItem)"
                mat-icon-button>
          <mat-icon svgIcon="settings"></mat-icon>
        </button>
      </div>
    </mat-card-header>

    <mat-card-content>
      Size:

      <ng-container *ngIf="visibleItem.clipSetting.position === 0">
        {{visibleItem.clipSetting.position | positionToString }}
      </ng-container>
      <ng-container *ngIf="visibleItem.clipSetting.position">
        [{{visibleItem.clipSetting.width}}] x [{{visibleItem.clipSetting.height}}]
      </ng-container>
      <br>

      Pos:
      <ng-container *ngIf="visibleItem.clipSetting.position === 1 ">

        <ng-container *ngIf="visibleItem.clipSetting.left">
          L: {{visibleItem.clipSetting.left}}
        </ng-container>

        <ng-container *ngIf="visibleItem.clipSetting.top">
          T: {{visibleItem.clipSetting.top}}
        </ng-container>

        <ng-container *ngIf="visibleItem.clipSetting.right">
          R: {{visibleItem.clipSetting.right}}
        </ng-container>

        <ng-container *ngIf="visibleItem.clipSetting.bottom">
          B: {{visibleItem.clipSetting.bottom}}
        </ng-container>
      </ng-container>
      <ng-container *ngIf="visibleItem.clipSetting.position !== 1 ">
        {{ visibleItem.clipSetting.position | positionToString}}
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>
