<h2 mat-dialog-title> Update Media-Folder Path </h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="form">

    <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>Path</mat-label>
        <input autocomplete="off" formControlName="path"
               matInput required
               type="text"/>


        <mat-error *ngIf="form.controls['path'].hasError('required')">
          You need to select a media folder.
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button (click)="save()" cdkFocusInitial
          color="primary"
          mat-raised-button> Update
  </button>
</mat-dialog-actions>

