<h2 mat-dialog-title> {{ data.id ? 'Update ' : 'Add ' }} a Screen </h2>
<mat-dialog-content class="mat-typography">

  <form [formGroup]="form">

    <div class="form-control">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input autocomplete="off"
               formControlName="name"
               matInput required>

        <mat-error *ngIf="form.controls['name'].hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>


    </div>

    <div class="form-control">
      <mat-form-field>
        <mat-label>Width (px)</mat-label>
        <input autocomplete="off" type="number"
               formControlName="width"
               matInput>

        <span matSuffix>px</span>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field>
        <mat-label>Height (px)</mat-label>
        <input autocomplete="off" type="number"
               formControlName="height"
               matInput>
        <span matSuffix>px</span>
      </mat-form-field>


    </div>




    <div class="form-control textarea">
      <mat-form-field floatLabel="always">
        <mat-label>Custom CSS</mat-label>

        <gewd-custom-form-control formControlName="customCss"
                                  #customFormControl
        >
          <gewd-codemirror [value]="customFormControl.value"
                           [codemirrorExtensions]="cssExtensions"
                           (changed)="customFormControl.value = $event">

          </gewd-codemirror>
        </gewd-custom-form-control>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="two-columns">
  <div class="column">
    <app-open-feedback-button feedbackTarget="Screen Edit Dialog"></app-open-feedback-button>
  </div>
  <div class="column" align="end" >
    <button mat-button mat-dialog-close>Cancel</button>
    <button (click)="save()"
            color="primary"
            mat-raised-button>{{ data.id ? 'Update' : 'Add' }}</button>
  </div>
</mat-dialog-actions>
