<h2 mat-dialog-title> Help Overview </h2>
<mat-dialog-content class="mat-typography">

  <mat-action-list>
    <button mat-list-item *ngFor="let item of helpItems"
            [attr.dataCy]="item.githubName"
            (click)="openDialog(item)">
    {{item.name}}
    </button>
  </mat-action-list>

</mat-dialog-content>



<mat-dialog-actions>
  <button mat-button color="primary"
  (click)="openGithubRepo()">
    Edit / Improve on GitHub
  </button>
  <span class="space"></span>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>

