@import '~angular-material-css-vars/public-util';

:host {
  width: 100%;
  height: 100%;
  padding-bottom: var(--grid-padding);
}

button {
  height: 100%;
  min-height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  background-color: var(--card-background-color);
  color: var(--palette-foreground-text);
  font-size: 1.6rem;
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0px rgba(0, 0, 0, 0.14), 0 1px 3px 0px rgba(0, 0, 0, 0.12);

  &:hover, &:focus {
    background-color: mat-css-color-accent() !important;
    outline: 0;
  }
}
