<div class="sidebar__title" style="justify-content: center">
  <h3 class="preview-label">Click to preview Media</h3>
</div>

<div class="sidebar__items">
  <mat-card *ngFor="let visibleItem of allItems"
            class="small selectable" matRipple
            (click)="onPreview(visibleItem)">
    <mat-card-header>
      <div mat-card-avatar>
        <app-action-type [type]="visibleItem.action.type"
                       iconSize="36px"
                       mat-list-icon>

        </app-action-type>
      </div>
      <mat-card-title>{{visibleItem.action.name}}</mat-card-title>
      <mat-card-subtitle>
        {{visibleItem.screenMediaConfig.visibility | visibilityToString}}
        / {{visibleItem.screenMediaConfig.position | positionToString }}
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
