  <div class="sidebar__title" style="justify-content: center">
    <h3 class="preview-label">Click to preview Media</h3>
  </div>

  <div class="sidebar__items">
    <mat-card *ngFor="let visibleItem of clipList$ | async"
              class="small selectable" matRipple
              (click)="onPreview(visibleItem)">
      <mat-card-header>
        <div mat-card-avatar>
          <app-clip-type [type]="visibleItem.clip.type"
                         iconSize="36px"
                         mat-list-icon>

          </app-clip-type>
        </div>
        <mat-card-title>{{visibleItem.clip.name}}</mat-card-title>
        <mat-card-subtitle>
          {{visibleItem.clipSetting.visibility | visibilityToString}}
          / {{visibleItem.clipSetting.position | positionToString }}
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
