<div *ngIf="screenList | async as screenList"
     class="screensList">
  <div *ngFor="let screen of screenList"
       class="screensList__item">
    <mat-card class="screensList__item__card">
      <app-screen-info (onDelete)="delete(screen)"
                       (onEdit)="showDialog(screen)"
                       (onEditAssignments)="showAssignmentDialog(screen)"
                       (onEditScreenClipOptions)="onClipOptions($event, screen)"
                       (onPreview)="onPreview($event, screen)"
                       (onReload)="onReload(screen)"
                       [info]="screen"
      >

      </app-screen-info>
    </mat-card>
  </div>

  <div *ngIf="screenList.length === 0" class="obs-item">
    <app-getting-started></app-getting-started>
  </div>

  <div class="screensList__item">
    <mat-card (click)="addNewItem()" class="screensList__item--addNew">
      <mat-icon svgIcon="add"></mat-icon>
      Add new screen
    </mat-card>
  </div>
</div>
