<div class="items-holder"
*ngIf="screenList | async as screenList">
  <div class="obs-item"
       *ngFor="let screen of screenList">
    <app-obs-info [info]="screen"
                  (onDelete)="delete(screen)"
                  (onEditAssignments)="showAssignmentDialog(screen)"
                  (onEdit)="showDialog(screen)"
                  (onEditScreenClipOptions)="onClipOptions($event, screen)"
    >

    </app-obs-info>
  </div>

  <div class="obs-item" *ngIf="screenList.length === 0">
    <app-getting-started></app-getting-started>
  </div>
</div>

<div class="floating-action-button">
  <button mat-fab color="warn"
          aria-label="Add a new meme/media"
          (click)="addNewItem()"
  >
    <mat-icon svgIcon="add"></mat-icon>
  </button>
</div>
