.items-holder {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  justify-content: space-between;
}


.obs-item {
  width: 49%;
}

.button-padding {
  margin-top: 1rem;
}
