.screensList {
  display: grid;
  padding: 2rem;

  @media screen and (min-width: 620px) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }

  @media screen and (min-width: 930px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
  }
}

.screensList__item {
  width: 100%;
  margin-bottom: 2rem;
}

.screensList__item__card {
  height: 100%;
}

.add-new {
  cursor: pointer;
}

.screensList__item--addNew {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: #575fcf !important;
  }
}
