<div *ngIf="screenList | async as screenList">
  <app-card-overview>
    <app-overview-item *ngFor="let screen of screenList">
      <app-screen-info (onDelete)="delete(screen)"
                       (onEdit)="showDialog(screen)"
                       (onEditAssignments)="showAssignmentDialog(screen)"
                       (onEditScreenClipOptions)="onClipOptions($event, screen)"
                       (onPreview)="onPreview($event, screen)"
                       (onReload)="onReload(screen)"
                       [info]="screen"
      >

      </app-screen-info>
    </app-overview-item>

  <app-overview-item *ngIf="screenList.length === 0 ; else hasData ">
    <app-getting-started></app-getting-started>
  </app-overview-item>

  <ng-template #hasData>

      <app-overview-add-item label="Add new screen"
                             (click)="addNewItem()">

      </app-overview-add-item>

  </ng-template>
  </app-card-overview>

</div>
