@import '~angular-material-css-vars/public-util';
@import '../../../../utils/mixins';

.screensList {
  @include gridLayout;
}

.screensList__item {
 @include gridLayout__item;
}

.screensList__item__card {
  height: 100%;
}

.add-new {
  cursor: pointer;
}

.screensList__item--addNew {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  background-color: #3F4855; //TODO HOW TO GET THIS VARIABLE
  color: #ffffff; //TODO HOW TO GET THIS VARIABLE
  font-size: 1.6rem;
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0px rgba(0, 0, 0, 0.14), 0 1px 3px 0px rgba(0, 0, 0, 0.12);

  &:hover, &:focus {
    background-color: mat-css-color-accent() !important;
    outline: 0;
  }
}
