:host {
  width: 100%;
}

.filterRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 1rem 2rem 0;
}

.filterRow__icon {
  margin-right: 1rem;
}

.mediaList {
  display: grid;
  padding: 1rem;
  width: 100%;
  list-style: none;

  @media screen and (min-width: 620px) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }

  @media screen and (min-width: 930px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
  }
}

.mediaList__option {
  margin-bottom: 1rem;
  cursor: pointer;
  padding: 0;
  transition: padding 0.1s ease-in-out;
  border-radius: 1rem;
}

.mediaList__option--selected {
  background-color: #3F4855;
  padding: 0.75rem;
  border: 0.25rem solid #00d8d6;
}

.mediaList__img {
  width: 100%;
}

.mediaList__name {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.mediaList__icon {
  margin-right: 0.5em;
}

.mediaList__audioContainer, .mediaList__videoContainer {
  height: 100%;
  display: block;
  position: relative;
}

//TODO this is weird
.audio-image, .video-image {
  display: flex;
  height: 75%;
  align-items: center;
  justify-content: center;

  .mat-icon {
    height: 6rem;
    width: 6rem;
  }
}

.filterChip {
  cursor: pointer;
}

.filterChip--selected {
  background-color: red;
}

::ng-deep .mat-chip {
  &.mat-chip.mat-standard-chip {
    &.filterChip--selected {
      background-color: #575fcf;
    }
  }
}

.svgContainer {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin-left: 0.25rem;
  display: flex;
  align-items: center;
}
