<h1 mat-dialog-title>Choose media for "{{ (screen$ | async).name }}"</h1>

<div mat-dialog-content>
  <div class="filterRow">
    <mat-icon class="filterRow__icon" matListIcon svgIcon="filter"></mat-icon>
    <mat-chip-list *ngIf="selectedFilters$ | async as selectedFilters" aria-label="Filter media type">
    <mat-chip (click)="toggleFilter(MediaType.Picture)"
              [class.filterChip--selected]="selectedFilters.includes(MediaType.Picture)"
              class="filterChip">
      Image
      <span class="svgContainer">
        <mat-icon *ngIf="selectedFilters.includes(MediaType.Picture)"
                  svgIcon="check_circle"></mat-icon>
        <mat-icon *ngIf="!selectedFilters.includes(MediaType.Picture)"
                  svgIcon="circle"></mat-icon>
      </span>
    </mat-chip>
    <mat-chip (click)="toggleFilter(MediaType.Audio)"
              [class.filterChip--selected]="selectedFilters.includes(MediaType.Audio)"
              class="filterChip">
      Audio
      <span class="svgContainer">
        <mat-icon *ngIf="selectedFilters.includes(MediaType.Audio)"
                  svgIcon="check_circle"></mat-icon>
       <mat-icon *ngIf="!selectedFilters.includes(MediaType.Audio)"
                 svgIcon="circle"></mat-icon>
      </span>
    </mat-chip>
    <mat-chip (click)="toggleFilter(MediaType.Video)"
              [class.filterChip--selected]="selectedFilters.includes(MediaType.Video)"
              class="filterChip">
      Video
      <span class="svgContainer">
        <mat-icon *ngIf="selectedFilters.includes(MediaType.Video)"
                  svgIcon="check_circle"></mat-icon>
        <mat-icon *ngIf="!selectedFilters.includes(MediaType.Video)"
                  svgIcon="circle"></mat-icon>
      </span>
    </mat-chip>
  </mat-chip-list>
  </div>
  <ol class="mediaList">
    <li (click)="clickToSelect(clip)"
        *ngFor="let clip of clips$|async"
        [class.mediaList__option--selected]="checkedMap[clip.id]"
        class="mediaList__option">
      <figure *ngIf="clip.type === 0">
        <figcaption class="mediaList__name">
          <mat-icon class="mediaList__icon" matListIcon svgIcon="insert_photo"></mat-icon>
          {{clip.name}}</figcaption>
        <img [alt]="clip.name" [src]="clip.path | replaceholder" class="mediaList__img"/>
      </figure>

      <span *ngIf="clip.type === 1" class="mediaList__audioContainer">
        <span class="mediaList__name">
          <mat-icon class="mediaList__icon" matListIcon svgIcon="audiotrack"></mat-icon>
          {{clip.name}}
        </span>

        <span class="audio-image">
          <mat-icon matListIcon svgIcon="speaker"></mat-icon>
        </span>
      </span>

      <span *ngIf="clip.type === 2" class="mediaList__videoContainer">
          <span class="mediaList__name">
            <mat-icon class="mediaList__icon" matListIcon svgIcon="videocam"></mat-icon>
            {{clip.name}}
        </span>

        <span class="video-image">
          <mat-icon matListIcon svgIcon="video_library"></mat-icon>
        </span>
      </span>

      <span *ngIf="clip.type === 3" class="iframe-container">
        <span class="media-name">
          <mat-icon
            class="media-icon"
            matListIcon
            svgIcon="videocam"
          ></mat-icon>
          {{ clip.name }}
        </span>
        <span class="media-iframe-container">
          <iframe [src]="clip.path | safeurl"></iframe>
        </span>
      </span>
    </li>
  </ol>
</div>
