<h1 mat-dialog-title>Choose media for "{{data.name}}"</h1>

<!-- TODO: Noob to fix selection -->

<div mat-dialog-content>

  <ol class="media-list">
    <li class="media-list-option"
        [class.selected]="checkedMap[clip.id]"
        *ngFor="let clip of clips$|async"
        (click)="toDo()">
      <figure class="image-container" *ngIf="clip.type === 0">
        <figcaption class="media-name">
          <mat-icon class="media-icon" matListIcon svgIcon="insert_photo"></mat-icon>
          {{clip.name}}</figcaption>
        <img class="media-img" [src]="clip.path" [alt]="clip.name"/>
      </figure>

      <span class="audio-container" *ngIf="clip.type === 1">
        <span class="media-name">
          <mat-icon class="media-icon" matListIcon svgIcon="audiotrack"></mat-icon>
          {{clip.name}}
        </span>

        <span class="audio-image">
          <mat-icon matListIcon svgIcon="speaker"></mat-icon>
        </span>

      </span>

      <span class="video-container" *ngIf="clip.type === 2">
          <span class="media-name">
            <mat-icon class="media-icon" matListIcon svgIcon="videocam"></mat-icon>
            {{clip.name}}
        </span>

        <span class="video-image">
          <mat-icon matListIcon svgIcon="video_library"></mat-icon>
        </span>
      </span>
    </li>

  </ol>
</div>
