<span mat-dialog-title>
  <span>
    <h2>Arrange the Media on this Screen: {{screen.name}}</h2>
    <mat-hint>Screen Size [{{screen?.width}}]x[{{screen?.height}}]</mat-hint>
  </span>

  <button mat-button mat-dialog-close style="align-self: flex-start">Close</button>
</span>
<mat-dialog-content class="mat-typography">
  <mat-tab-group #tabGroup (selectedTabChange)="clickedOutside()">
    <mat-tab label="Arrange">
    </mat-tab>
    <mat-tab label="Preview"></mat-tab>
  </mat-tab-group>

  <div class="tab_content" [class.hidden]="tabGroup.selectedIndex !== 0">

    <app-screen-arrange-sidebar
      [allItems]="clipList$ | async"
      [visibleItems]="visibleItems$ | async"
      [screen]="screen"
      [currentSelectedClip]="currentSelectedClip"
      [selectedItems]="selectedItems"
      (changeCurrSelectedClip)="currentSelectedClip = $event"
      class="sidebar"></app-screen-arrange-sidebar>

    <div class="preview-area">
      <div class="dragging-config">
        <div class="spacer" *ngIf="!currentSelectedClip"></div>
        <div class="inline" [class.hidden]="!currentSelectedClip">
          <mat-form-field *ngIf="currentSelectedClip">
            <mat-select (selectionChange)="triggerChangedetection()"
                        [(value)]="currentSelectedClip.clipSetting.position"
                        placeholder="Media Position">
              <mat-option [value]="0">{{0 | positionToString}}</mat-option>
              <mat-option [value]="1">{{1 | positionToString}}</mat-option>
              <mat-option [value]="2">{{2 | positionToString}}</mat-option>
              <mat-option [value]="3">{{3 | positionToString}}</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button (click)="saveAllSettings()" color="accent">
            Save all Clip Settings
          </button>
        </div>


      </div>
      <div class="drag-drop-area-holder"
           #holdingElement
      >

        <gewd-auto-scale [width]="holdingElement.clientWidth"
                         [height]="holdingElement.clientHeight"

        >
          <div class="drag-drop-area" (click)="clickedOutside()"
               [style.width.px]="screen?.width || 1920"
               [style.height.px]="screen?.height || 1080"
          >
            <ng-container *ngFor="let pair of visibleItems$|async; trackBy: trackByClip">
              <!-- improve the duplicate settings -->
              <ng-container *ngIf="pair.clipSetting.position === PositionEnum.FullScreen">
                <app-clip-preview [clip]="pair.clip"
                                  [style.z-index]="pair === currentSelectedClip ? 10000 : pair.clipSetting.zIndex"
                                  [style.position]="'absolute'"
                                  draggable="false" class="dragable-preview"></app-clip-preview>
              </ng-container>
              <app-drag-resize-media *ngIf="pair.clipSetting.position === PositionEnum.Centered"
                                     [clip]="pair.clip"
                                     [style.z-index]="pair === currentSelectedClip ? 10000 : pair.clipSetting.zIndex"
                                     [screen]="screen"
                                     [sizeType]="sizeType.value"
                                     [showResizeBorder]="pair === currentSelectedClip"
                                     [settings]="pair.clipSetting" #dragResizeMediaComponent
                                     (elementClicked)="elementClicked(dragResizeMediaComponent, pair)"
                                     (inputApplied)="elementCreated(dragResizeMediaComponent, pair)"

                                     transformOrigin="center center"
                                     [draggingEnabled]="false"
                                     [resizeEnabled]="pair.clipSetting.arrangeLock?.size ? false : resizeCheckbox.checked"
                                     [rotateEnabled]="pair.clipSetting.arrangeLock?.transform ? false : rotateCheckbox.checked"
                                     [warpEnabled]="pair.clipSetting.arrangeLock?.transform ? false : warpingCheckbox.checked"
                                     class="dragable-preview"
              >

              </app-drag-resize-media>
              <app-drag-resize-media *ngIf="pair.clipSetting.position === PositionEnum.Random"
                                     [clip]="pair.clip"
                                     [style.z-index]="pair === currentSelectedClip ? 10000 : pair.clipSetting.zIndex"
                                     [screen]="screen"
                                     [sizeType]="sizeType.value"
                                     [showResizeBorder]="pair === currentSelectedClip"
                                     [settings]="pair.clipSetting" #dragResizeMediaComponent
                                     (elementClicked)="elementClicked(dragResizeMediaComponent, pair)"
                                     (inputApplied)="elementCreated(dragResizeMediaComponent, pair)"
                                     [draggingEnabled]="false"
                                     [resizeEnabled]="pair.clipSetting.arrangeLock?.size ? false : true"
                                     [rotateEnabled]="pair.clipSetting.arrangeLock?.transform ? false : rotateCheckbox.checked"
                                     [warpEnabled]="pair.clipSetting.arrangeLock?.transform ? false : warpingCheckbox.checked"
                                     class="dragable-preview"
              >

              </app-drag-resize-media>

              <app-drag-resize-media
                *ngIf="pair.clipSetting.position === PositionEnum.Absolute"
                [clip]="pair.clip"
                [screen]="screen"
                [sizeType]="sizeType.value"
                [style.z-index]="pair === currentSelectedClip ? 10000 : pair.clipSetting.zIndex"
                [showResizeBorder]="pair === currentSelectedClip"
                (elementClicked)="elementClicked(dragResizeMediaComponent, pair)"
                [settings]="pair.clipSetting" #dragResizeMediaComponent
                (inputApplied)="elementCreated(dragResizeMediaComponent, pair)"

                [draggingEnabled]="pair.clipSetting.arrangeLock?.position ? false : dragCheckbox.checked"
                [resizeEnabled]="pair.clipSetting.arrangeLock?.size ? false : resizeCheckbox.checked"
                [rotateEnabled]="pair.clipSetting.arrangeLock?.transform ? false : rotateCheckbox.checked"
                [warpEnabled]="pair.clipSetting.arrangeLock?.transform ? false : warpingCheckbox.checked"

                class="dragable-preview"
              >

              </app-drag-resize-media>
            </ng-container>
          </div>

        </gewd-auto-scale>

      </div>

      <div class="dragging-config">
        <div class="spacer" *ngIf="!currentSelectedClip"></div>
        <div class="inline" [class.hidden]="!currentSelectedClip">
          <h2>
            Drag / Arrange Options
          </h2>
          <div>
            <mat-form-field>
              <mat-select #sizeType [value]="currentSelectedClip?.clipSetting | settingsToSizingType"
                          placeholder="Sizing Type">
                <mat-option value="px">PX</mat-option>
                <mat-option value="%">%</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-checkbox [checked]="true" #dragCheckbox
                          [disabled]="currentSelectedClip?.clipSetting.arrangeLock?.position">
              Drag
            </mat-checkbox>
            <mat-checkbox [checked]="true" #resizeCheckbox
                          (change)="onCheckedToggle($event, warpingCheckbox)"
                          [disabled]="currentSelectedClip?.clipSetting.arrangeLock?.size">
              Resizing
            </mat-checkbox>
            <mat-checkbox #rotateCheckbox
                          [checked]="true"
                          [disabled]="currentSelectedClip?.clipSetting.arrangeLock?.transform">
              Rotating
            </mat-checkbox>
            <mat-checkbox #warpingCheckbox
                          (change)="onCheckedToggle($event, resizeCheckbox)"
                          [disabled]="currentSelectedClip?.clipSetting.arrangeLock?.transform">
              Warping
            </mat-checkbox>
          </div>
          <button mat-raised-button (click)="reset()" color="warn">
            Reset
          </button>

        </div>
      </div>
    </div>
  </div>

  <!-- Preview -->
  <div class="tab_content" *ngIf="tabGroup.selectedIndex === 1">
    <div class="sidebar">
      <div class="sidebar__title" style="justify-content: center">
        <h3 class="preview-label">Click to preview Media</h3>
      </div>

      <div class="sidebar__items">
        <mat-card *ngFor="let visibleItem of clipList$ | async"
                  class="small selectable" matRipple
                  (click)="onPreview(visibleItem)">
          <mat-card-header>
            <div mat-card-avatar>
              <app-clip-type [type]="visibleItem.clip.type"
                             iconSize="36px"
                             mat-list-icon>

              </app-clip-type>
            </div>
            <mat-card-title>{{visibleItem.clip.name}}</mat-card-title>
            <mat-card-subtitle>
              {{visibleItem.clipSetting.visibility | visibilityToString}}
              / {{visibleItem.clipSetting.position | positionToString }}
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>

    <div class="preview-area">
      <div class="drag-drop-area-holder"
           #holdingElement
      >
        <gewd-auto-scale [width]="holdingElement.clientWidth"
                         [height]="holdingElement.clientHeight"

        >

          <div [style.width.px]="screen.width"
               [style.height.px]="screen.height"
               class="drag-drop-area">
            <app-target-screen [screenId]="screen.id"

            >

            </app-target-screen>
          </div>

        </gewd-auto-scale>
      </div>
    </div>
  </div>
</mat-dialog-content>

