@import '~angular-material-css-vars/public-util';

:host {
  display: flex;
  flex-direction: column;
  flex: 1;

  ::ng-deep {
    .mat-card-header-text {
      flex: 1;
    }

    // Uncomment if you put the tabs in the mat-tabs instead of *ngIf
    // There is a resize bug in the preview-content if you do...
    //.mat-card-header-text, mat-tab-group, .mat-tab-body-wrapper {
    //  flex: 1;
    //}
    //.mat-tab-body-content {
    //  display: flex;
    //}
  }
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  max-height: unset;
  width: 99vw;
  height: 100%;
}

.mat-dialog-title {
  display: flex;

  span {
    flex: 1;
  }
}

.tab_content {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  flex: 1;

  /**
   * in order to achieve a MAX HEIGHT  you need a MIN HEIGHT ... obviously
   */
  min-height: 0;
}
