<span mat-dialog-title>
  <span>
    <h2>Arrange the Media on this Screen: {{screen.name}}</h2>
    <mat-hint>Screen Size [{{screen?.width}}]x[{{screen?.height}}]</mat-hint>
  </span>

  <button mat-button mat-dialog-close style="align-self: flex-start">Close</button>
</span>
<mat-dialog-content class="mat-typography">
  <mat-tab-group #tabGroup [selectedIndex]="selectedIndex" (selectedTabChange)="tabSelectionChanged($event)">
    <mat-tab label="Arrange">
    </mat-tab>
    <mat-tab label="Preview"></mat-tab>
  </mat-tab-group>

  <div class="tab_content" [class.hidden]="tabGroup.selectedIndex !== 0">

    <app-screen-arrange-sidebar
      [allItems]="clipList$ | async"
      [visibleItems]="visibleItems$ | async"
      [screen]="screen"
      [currentSelectedClip]="currentSelectedClip"
      [selectedItems]="selectedItems"
      [hasUnsavedChanges]="hasUnsavedChanges"
      (changeCurrSelectedClip)="currentSelectedClip = $event"
      (changesSaved)="hasUnsavedChanges = false"
    ></app-screen-arrange-sidebar>

    <app-screen-arrange-preview
      [visibleItems]="visibleItems$ | async"
      [screen]="screen"
      [currentSelectedClip]="currentSelectedClip"
      (changeCurrSelectedClip)="currentSelectedClip = $event"
      (userChangeElement)="hasUnsavedChanges = true"
    ></app-screen-arrange-preview>
  </div>

  <!-- Preview -->
  <app-screen-preview *ngIf="tabGroup.selectedIndex === 1"
                      class="tab_content"
                      [allItems]="clipList$ | async"
                      [screen]="screen"></app-screen-preview>
</mat-dialog-content>
