<div class="two-columns" >
  <div class="column">
    Connections Overview: <br/>

    <br>

    <mat-card>
      <table class="connections-table">
        <tr *ngFor="let service of connectionState$ | async">
          <td>{{service.name}}</td>
          <td>{{service.state.label}}</td>
        </tr>
      </table>
    </mat-card>

    <br/>
    <br/>

    Screens in OBS Overview: <br/>

    <br>

    <mat-card>
      <table class="connections-table">
        <tr *ngFor="let screenInOBS of screensInOBS$ | async">
          <td>{{screenInOBS.screenData.name}}</td>
          <td>
            {{screenInOBS.statusString}}  <br />

            <div *ngIf="!screenInOBS.correctResolution">
              Screen: W{{screenInOBS.screenData.width}}/H{{screenInOBS.screenData.height}} <br/>
              OBS: W{{screenInOBS.obsData.sourceSettings['width']}}/H{{screenInOBS.obsData.sourceSettings['height']}} <br/>
            </div>

            <div [class.warning]="screenInOBS.warnFPS || !screenInOBS.fps">
              FPS: <i *ngIf="!screenInOBS.fps">unknown</i> {{screenInOBS.fps}}
            </div>
          </td>
          <td>
            <div>
              <button (click)="triggerObsReload(screenInOBS)"
                      style="margin: -4px;"
                      color="primary" mat-icon-button>
                <mat-icon svgIcon="replay"></mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </table>
    </mat-card>


    <app-open-feedback-button feedbackTarget="Dashboard"></app-open-feedback-button>
  </div>
  <div class="column">
    <mat-tab-group>
      <mat-tab label="Latest Twitch Events">
        <app-latest-twitch-events></app-latest-twitch-events>
      </mat-tab>
      <mat-tab label="Latest Actions">
        <app-latest-actions></app-latest-actions>
      </mat-tab>
      <mat-tab label="Errors">
        <app-dashboard-error-list></app-dashboard-error-list>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
