<form [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Twitch Event</mat-label>
    <mat-select [required]="true"
                formControlName="event">
      <mat-option *ngFor="let item of twitchEvents"
                  [value]="item">
        {{ item }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Meme</mat-label>
    <mat-select [required]="true"
                formControlName="clipId">

      <mat-option *ngFor="let item of clipList$ | async"
                  [value]="item.id">
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button (click)="triggerAdd()" color="primary"
          mat-raised-button>Add
  </button>
</form>
