<h1 mat-dialog-title>Choose action for "{{ data.dialogTitle }}"</h1>

<div mat-dialog-content>
  <div class="filterRow">
    <app-filter [items]="filterItems$ | async"
                (selected)="filteredItems$.next($event)"
                (searchChanged)="searchText$.next($event)"
    ></app-filter>
  </div>

  <ol class="mediaList">
    <li (click)="clickToSelect(action)"
        *ngFor="let action of actions$ | async; trackBy: trackByAction"
        [class.mediaList__option--selected]="checkedMap[action.id]"
        class="mediaList__option animate__animated  animate__fadeIn"
    >
      <figure>
        <figcaption class="mediaList__header">
          <app-action-type [type]="action.type"
                         class="mediaList__icon"
                         matListIcon>
          </app-action-type>

          <span class="mediaList__header__name">{{action.name}}</span>
        </figcaption>

        <div class="mediaList__img">
          <app-action-preview
            *ngIf="action.type === ActionType.Picture || action.type === ActionType.Video; else showDescription"
            height="6rem"
            [action]="action">

          </app-action-preview>

          <ng-template #showDescription>
            <div class="action__description">
              {{ action.description }}
            </div>
          </ng-template>
        </div>
      </figure>
    </li>
  </ol>
</div>

<mat-dialog-actions class="two-columns">
  <div class="column">
    <app-open-feedback-button feedbackTarget="Choose Action Dialog"></app-open-feedback-button>
  </div>
  <div class="column" align="end" >
    <button mat-button mat-dialog-close="close">Close</button>
  </div>
</mat-dialog-actions>
