<ng-container *ngIf="(mediaList$ |async).length === 0 || (screenList$ | async).length  === 0">
  <mat-card-title>
    Getting started:
  </mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngIf="inOfflineMode$ | async">
        <button (click)="fillData()" class="full-width"
                color="primary"
                mat-raised-button>
          Offline Mode: Fill with dummy data
        </button>
      </mat-list-item>
      <mat-list-item>
        <ng-container *ngIf="!(hasMediaFolder$ | async); else mediaClipAdded">
          <button (click)="openMediaFolderDialog()" color="primary"
                  mat-raised-button>
            <mat-icon svgIcon="edit"></mat-icon>
            1. Choose Media Folder
          </button>
        </ng-container>
        <ng-template #mediaClipAdded>
          <span class="strikethrough">
            1. Choose Media Folder
          </span>
        </ng-template>
      </mat-list-item>
      <mat-list-item>
        <ng-container *ngIf="(mediaList$ |async).length === 0; else mediaClipAdded">
          <button (click)="newMediaClip()" class="full-width"
                  color="primary"
                  mat-raised-button>
            2. Add media
          </button>
        </ng-container>
        <ng-template #mediaClipAdded>
          <span class="strikethrough">
            2. Add media
          </span>
        </ng-template>
      </mat-list-item>
      <mat-list-item>
        <ng-container *ngIf="(screenList$ | async).length  === 0; else screenAdded">
          <button (click)="newScreen()" class="full-width"
                  color="primary"
                  mat-raised-button>
            3. Add a screen
          </button>
        </ng-container>
        <ng-template #screenAdded>
          <span class="strikethrough">
             3. Add a screen
          </span>
        </ng-template>

      </mat-list-item>
    </mat-list>

  </mat-card-content>
</ng-container>
