<ng-container *ngIf="(mediaList$ |async).length === 0 || (screenList$ | async).length  === 0">
  <mat-card-title>
    Getting started:
  </mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngIf="inOfflineMode$ | async">
        <button (click)="fillData()" class="full-width"
                color="primary"
                mat-raised-button>
          Offline Mode: Fill with dummy data
        </button>
      </mat-list-item>
      <mat-list-item>
        <div>
          1. Choose media folder - show media choose component in situ
        </div>
      </mat-list-item>
      <mat-list-item>
        <ng-container *ngIf="(mediaList$ |async).length === 0; else mediaClipAdded">
          <button (click)="newMediaClip()" class="full-width"
                  color="primary"
                  mat-raised-button>
            2. Add media
          </button>
        </ng-container>
        <ng-template #mediaClipAdded>
          <span class="strikethrough">
             3. Add media
          </span>
        </ng-template>
      </mat-list-item>
      <mat-list-item>
        <ng-container *ngIf="(screenList$ | async).length  === 0; else screenAdded">
          <button (click)="newScreen()" class="full-width"
                  color="primary"
                  mat-raised-button>
            3. Add a screen
          </button>
        </ng-container>
        <ng-template #screenAdded>
          <span class="strikethrough">
             3. Add a screen
          </span>
        </ng-template>

      </mat-list-item>
    </mat-list>

  </mat-card-content>
</ng-container>

<div>Remove 'add media' block to right right of this when there is no media and we are in onboarding mode</div>
