<h1 mat-dialog-title>Choose media for "{{ data.dialogTitle }}"</h1>

<div mat-dialog-content>
  <div class="filterRow">
    <app-filter [items]="filterItems$ | async"
                (selected)="filteredItems$.next($event)"></app-filter>
  </div>
  <ol class="mediaList">
    <li (click)="clickToSelect(clip)"
        *ngFor="let clip of clips$|async"
        [class.mediaList__option--selected]="checkedMap[clip.id]"
        class="mediaList__option">
      <figure *ngIf="clip.type === 0">
        <figcaption class="mediaList__name">
          <mat-icon class="mediaList__icon" matListIcon svgIcon="insert_photo"></mat-icon>
          {{clip.name}}</figcaption>
        <img [alt]="clip.name" [src]="clip.path | replaceholder" class="mediaList__img"/>
      </figure>

      <span *ngIf="clip.type === 1" class="mediaList__audioContainer">
        <span class="mediaList__name">
          <mat-icon class="mediaList__icon" matListIcon svgIcon="audiotrack"></mat-icon>
          {{clip.name}}
        </span>

        <span class="audio-image">
          <mat-icon matListIcon svgIcon="speaker"></mat-icon>
        </span>
      </span>

      <span *ngIf="clip.type === 2" class="mediaList__videoContainer">
          <span class="mediaList__name">
            <mat-icon class="mediaList__icon" matListIcon svgIcon="videocam"></mat-icon>
            {{clip.name}}
        </span>

        <span class="video-image">
          <mat-icon matListIcon svgIcon="video_library"></mat-icon>
        </span>
      </span>

      <span *ngIf="clip.type === 3" class="iframe-container">
        <span class="media-name">
          <mat-icon
            class="media-icon"
            matListIcon
            svgIcon="videocam"
          ></mat-icon>
          {{ clip.name }}
        </span>
        <span class="media-iframe-container">
          <iframe [src]="clip.path | safeurl"></iframe>
        </span>
      </span>

      <span *ngIf="clip.type === 100" class="mediaList__videoContainer">
          <span class="mediaList__name">
            <mat-icon class="mediaList__icon" matListIcon svgIcon="art_track"></mat-icon>
            {{clip.name}}
        </span>

        <span class="video-image">
          <mat-icon matListIcon svgIcon="art_track"></mat-icon>
        </span>
      </span>
    </li>
  </ol>
</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
