@import '~@angular/material/theming';
@import '~angular-material-css-vars/main';
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');
@import './css-var-colors';


// optional
$mat-css-dark-theme-selector: '.isDarkTheme';
$mat-css-light-theme-selector: '.isLightTheme';

@mixin app-theme($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  // Define any styles affected by the theme.
  .app-header {
    // Use mat-color to extract individual colors from a palette.
    background-color: mat-color($primary);
    border: medium solid mat-color($accent, A400);
  }
}


// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Barlow, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

// init theme
// examples https://github.com/johannesjo/angular-material-css-vars/blob/master/src/app/app.component.scss

@include init-material-css-vars($typography-config: $custom-typography) {
  .mat-app-background {
    background-color: var(--palette-background-background) !important;
  }

  .navigation {
    background-color: var(--palette-background-background) !important;
  }
};

.cdk-global-scrollblock {
  overflow-y: hidden;
}

:root {
  @include list-colors();
}

.isDarkTheme {
  .mat-card {
    background-color: var(--card-background-color) !important;
  }

  .mat-expansion-panel {
    background-color: var(--card-background-color);
  }

  .mat-table {
    background: transparent !important;
  }

  .mat-dialog-container {
    background-color: var(--palette-background-background) !important;
  }

  .mat-chip.mat-standard-chip {
    background-color: var(--card-background-color);
    color: white;
    font-family: Barlow, sans-serif;

    &.mat-chip-border {
      transition: border 350ms;
      border: 1px solid rgb(255 255 255 / 23%);

      &:hover, &:focus, &:active {
        border: 1px solid transparent;
      }
    }
  }

  .mat-flat-button, .mat-icon-button {
    &:hover {
      &.mat-accent {
        background-color: rgba(var(--palette-accent-700), 0.25) !important;
      }

      &.mat-primary {
        background-color: rgba(var(--palette-primary-900), 0.25) !important;
      }

      &.mat-warn {
        background-color: rgba(var(--palette-warn-A400), 0.25) !important;
      }
    }
  }
}

.floating-action-button {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  z-index: 2;

  .mat-icon {
    // wonder why the current style is pushing the icon down?!
    height: initial;
  }
}

.mat-snack-bar-container {
  top: 2rem;
  position: absolute;
  right: 0;
}

.mat-snack-bar-container.danger {
  background: darkred;
  color: white;
}

.mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
}

.form-field-row {
  margin-top: 0 !important;
}
