<app-card-overview>

<ng-container *ngIf="twitchChannelExist$ | async; else noChannel">
  <app-overview-item *ngFor="let item of eventsList$ | async; trackBy: trackById">
    <app-event-info (onDelete)="deleteEvent(item.id)"
                    (onEdit)="editEvent(item)"
                    (onPreview)="previewEvent(item)"
                    [item]="item"
    >
    </app-event-info>
  </app-overview-item>

  <app-overview-add-item label="Add new twitch event"
                         (click)="newEventConfigReceived()">

  </app-overview-add-item>
</ng-container>
  <ng-template #noChannel>
    <app-overview-item>
      <app-twitch-setting></app-twitch-setting>
    </app-overview-item>
  </ng-template>

</app-card-overview>

