<h2 mat-dialog-title class="title">
  <mat-icon svgIcon="tune" class="title__icon"></mat-icon>
  Settings for Media: {{data.name}} / Screen: {{(currentScreen$|async).name}}

  <app-open-action-settings-button *ngIf="actionInfo$ | async as action"
                                   [action]="action">

  </app-open-action-settings-button>
</h2>
<mat-dialog-content *ngIf="mediaInScreenInfo$ | async as clipInfo" class="mat-typography">

  <form [formGroup]="form" class="two-columns">
    <div class="column">
      <mat-form-field>
        <mat-label>Visibility</mat-label>
        <mat-select formControlName="visibility"
                    #visibilitySelect
                    value="0">
          <mat-option [value]="0">{{0 | visibilityToString}}</mat-option>
          <mat-option [value]="1">{{1 | visibilityToString}}</mat-option>
          <mat-option [value]="2">{{2 | visibilityToString}}</mat-option>
        </mat-select>
        <mat-hint [ngSwitch]="visibilitySelect.value">
          <span *ngSwitchCase="0">
            Once this media was triggered it'll be played and then <b>hidden again</b>.
          </span>
          <span *ngSwitchCase="2">
          Once this media was triggered it'll <b>stay visible unless triggered</b> again.
          </span>
        </mat-hint>
      </mat-form-field>

<br/>
<br/>

            <mat-expansion-panel appPreventAnimationOnFirstView
            class="stretched">
              <mat-expansion-panel-header>
                Type Specific Settings
              </mat-expansion-panel-header>

              <mat-form-field *ngIf="clipInfo.type === MediaType.Video">
                <mat-label>Loop Media Clip</mat-label>
                <mat-select formControlName="loop"
                            value="0">
                  <mat-option [value]="false">No</mat-option>
                  <mat-option [value]="true">Yes</mat-option>
                </mat-select>
              </mat-form-field>
             <mat-form-field>
               <mat-label>Object-Fit</mat-label>
                    <mat-select formControlName="imgFit"
                                value="contain">
                      <mat-option value="contain">Contain</mat-option>
                      <mat-option value="fill">Fill</mat-option>
                      <mat-option value="cover">Cover</mat-option>
                      <mat-option value="scale-down">Scale down</mat-option>
                    </mat-select>
                  </mat-form-field>

            </mat-expansion-panel>

      <mat-expansion-panel *ngIf="visibilitySelect.value !== 1"
                           #animationExpansionPanel appPreventAnimationOnFirstView
                           class="animation-expansion-panel"
      >
              <mat-expansion-panel-header>
                <mat-panel-title>
                Animation Options
      </mat-panel-title>
      <mat-panel-description>
        <ng-container *ngIf="form.value.animationIn">
          IN: {{form.value.animationIn  | animationLabel}} <br/>
        </ng-container>
        <ng-container *ngIf="form.value.animationOut">
          OUT: {{form.value.animationOut | animationLabel}}
        </ng-container>
      </mat-panel-description>
              </mat-expansion-panel-header>

<div class="animation-config-row">
              <mat-form-field>
                <mat-label>Animate IN</mat-label>
                <mat-select formControlName="animationIn"
                            #animationInSelect>
                  <mat-option value="">None</mat-option>
                  <mat-option value="random">Random</mat-option>
                  <mat-option *ngFor="let animation of animateInList" [value]="animation">{{animation | animationLabel}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="duration-form-field">
                <mat-label>Duration</mat-label>
                <input autocomplete="off"
                       formControlName="animationInDuration"
                       matInput #animationInDuration
                       type="number">

                <span matSuffix>ms</span>
              </mat-form-field>

        <app-animation-preview [animationList]="animateInList"
                               *ngIf="animationExpansionPanel.expanded"
                               [selectedAnimationConfig]="animationInSelect.value"
                               [animationDuration]="+animationInDuration.value"
        ></app-animation-preview>
</div>
        <br/>
            <div class="animation-config-row">
              <mat-form-field>
                <mat-label>Animate OUT</mat-label>
                <mat-select #animationOutSelect
                            formControlName="animationOut">
                  <mat-option value="">None</mat-option>
                  <mat-option value="random">Random</mat-option>

                  <mat-option *ngFor="let animation of animateOutList" [value]="animation">{{animation | animationLabel}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="duration-form-field">
                <mat-label>Duration</mat-label>
                <input autocomplete="off"
                       formControlName="animationOutDuration"
                       matInput #animationOutDuration
                       type="number">

                <span matSuffix>ms</span>
              </mat-form-field>

             <app-animation-preview [animationList]="animateOutList"
                                    *ngIf="animationExpansionPanel.expanded"
                               [selectedAnimationConfig]="animationOutSelect.value"
                               [animationDuration]="+animationOutDuration.value"
        ></app-animation-preview>
</div>
        <br/>

        <app-hint-panel>
          Animation Examples/Overview:
          <a href="https://animate.style" mat-flat-button target="_blank">
          https://animate.style
            <mat-icon svgIcon="launch"></mat-icon>
        </a>

          <br><br>

          If you don't see any animations here or in OBS, it could be your Operating-System Preferences to disable animations:
          <br> <br>
          Mac: <a href="https://www.twitch.tv/videos/1190610270"
        target="_blank" mat-flat-button>
            https://www.twitch.tv/videos/1190610270
          </a> thanks to Matty_TwoShoes <br/>
          Windows: Settings > Ease of Access > Show animations in Windows
        </app-hint-panel>

      </mat-expansion-panel>
    </div>

    <div class="column">
      <mat-form-field>
        <mat-label>Position</mat-label>
        <mat-select #positionSelection
                    [value]="clipInfo?.position || 0"
                    formControlName="position">
          <mat-option [value]="0">{{0 | positionToString}}</mat-option>
          <mat-option [value]="1">{{1 | positionToString}}</mat-option>
          <mat-option [value]="2">{{2 | positionToString}}</mat-option>
          <mat-option [value]="3">{{3 | positionToString}}</mat-option>
        </mat-select>
        <mat-hint [ngSwitch]="positionSelection.value">
          <span *ngSwitchCase="3" class="mat-error" style="display: inline">
            Random Position will only work if your OBS Version is at least 27.2.
          </span>
        </mat-hint>
      </mat-form-field>

      <br/>
      <br/>

      <mat-expansion-panel *ngIf="positionSelection.value !== 0"
                           appPreventAnimationOnFirstView
                           class="stretched">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Size / Position Settings

          </mat-panel-title>
          <mat-panel-description>

            <ng-container *ngIf="positionSelection.value">
              Size:
              [{{form.value.width}}] x [{{form.value.height}}]
              <br>
            </ng-container>



            <ng-container *ngIf="positionSelection.value === 1 ">
              Pos:
              <ng-container *ngIf="form.value.left">
                L: {{form.value.left}}
              </ng-container>

              <ng-container *ngIf="form.value.top">
                T: {{form.value.top}}
              </ng-container>

              <ng-container *ngIf="form.value.right">
                R: {{form.value.right}}
              </ng-container>

              <ng-container *ngIf="form.value.bottom">
                B: {{form.value.bottom}}
              </ng-container>
            </ng-container>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="position-inputs">

        <mat-form-field>
          <mat-label>Width (px, %, rem, em)</mat-label>
          <input autocomplete="off" formControlName="width"
                 matInput
                 type="text">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Height (px, %, rem, em)</mat-label>
          <input autocomplete="off" formControlName="height"
                 matInput
                 type="text">
        </mat-form-field>

        </div>

      <ng-container *ngIf="positionSelection.value === 1">
        <div class="position-inputs">

        <mat-form-field>
          <mat-label>Left (px, %, rem, em)</mat-label>
          <input autocomplete="off" formControlName="left"
                 matInput
                 type="text">
        </mat-form-field>


        <mat-form-field>
          <mat-label>Right (px, %, rem, em)</mat-label>
          <input autocomplete="off" formControlName="right"
                 matInput
                 type="text">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Top (px, %, rem, em)</mat-label>
          <input autocomplete="off" formControlName="top"
                 matInput
                 type="text">
        </mat-form-field>


        <mat-form-field>
          <mat-label>Bottom (px, %, rem, em)</mat-label>
          <input autocomplete="off" formControlName="bottom"
                 matInput
                 type="text">
        </mat-form-field>

        </div>

        <h3>Advanced</h3>
        <mat-form-field>
          <mat-label>CSS Transform</mat-label>
          <textarea formControlName="transform"
                    matInput
                    [rows]="6"
                    type="text">
          </textarea>
        </mat-form-field>

        <br>

        <h3>Lock Arrange Functions</h3>
        <div class="arrange-locking-group">
          <mat-button-toggle value="left" aria-label="Lock Position"
                             (change)="lockOptions.position = $event.source.checked"
                             [checked]="lockOptions.position">
            <mat-icon [svgIcon]="lockOptions.position ? 'lock' : 'lock_open'"></mat-icon>
            Position
          </mat-button-toggle>
          <mat-button-toggle value="center" aria-label="Lock Size"
                             (change)="lockOptions.size = $event.source.checked"
                             [checked]="lockOptions.size">
            <mat-icon [svgIcon]="lockOptions.size ? 'lock' : 'lock_open'"></mat-icon>
            Size
          </mat-button-toggle>
          <mat-button-toggle value="right" aria-label="Lock Transform"
                             (change)="lockOptions.transform = $event.source.checked"
                             [checked]="lockOptions.transform">
            <mat-icon [svgIcon]="lockOptions.transform ? 'lock' : 'lock_open'"></mat-icon>
            Transform
          </mat-button-toggle>
        </div>
      </ng-container>
      </mat-expansion-panel>

      <mat-expansion-panel class="stretched"
                           appPreventAnimationOnFirstView
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Advanced
          </mat-panel-title>
          <mat-panel-description>
            <ng-container *ngIf="form.value.zIndex">
              Z: {{form.value.zIndex}} -
            </ng-container>
              CSS: {{form.value.customCss ? 'Yes' : 'No' }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
          <mat-label>z-index</mat-label>
        <input autocomplete="off" formControlName="zIndex"
               matInput
               type="number">
      </mat-form-field>


      <mat-form-field floatLabel="always">
        <mat-label>Custom CSS</mat-label>

        <gewd-custom-form-control formControlName="customCss"
                                  #customFormControl
        >
          <gewd-codemirror [value]="customFormControl.value"
                           [codemirrorExtensions]="cssExtensions"
                           (changed)="customFormControl.value = $event">

          </gewd-codemirror>
        </gewd-custom-form-control>


      </mat-form-field>
        <app-hint-panel [addBottomPadding]="false">
          Hints: <br/>
          <strong>.clip-holder</strong> can be used to style the holding element of the clip itself. <br/>
          Everything else will be applied inside the holder itself.
        </app-hint-panel>

      </mat-expansion-panel>
    </div>
  </form>

</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button (click)="save()"
          color="primary"
          mat-raised-button>Update
  </button>
</mat-dialog-actions>
