:host {
  display: block;
}

mat-dialog-content {
  min-height: 40vh;
}

form {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.title__icon {
  margin-right: 0.5rem;
}

.two-columns {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 920px) {
    flex-direction: column;
  }
}

.column {
  flex: 1;
  align-self: stretch;

  > * {
    width: 100%;
  }

  &:last-child {
    @media screen and (min-width: 920px) {
      margin-left: 1rem;
    }
  }
}

mat-expansion-panel {
  margin-bottom: 0.5rem;

  ::ng-deep {
    .mat-content {
      .mat-expansion-panel-header-title,
      .mat-expansion-panel-header-description {
        flex: 1;
      }
    }

    &.mat-expanded {
      .mat-expansion-panel-header-description {
        display: none;
      }
    }
  }

  &.stretched {
    ::ng-deep .mat-expansion-panel-body {

      > * {
        width: 100%;
      }
    }
  }
}


.animation-expansion-panel {
  ::ng-deep .mat-expansion-panel-body {
    padding-right: 0;
    min-width: 455px;
  }
}

.arrange-locking-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
