<h2 mat-dialog-title> {{ data.id ? 'Update ' : 'Add ' }} a Twitch Event </h2>
<mat-dialog-content class="mat-typography">

  <form [formGroup]="form">

    <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input autocomplete="off"
               formControlName="name"
               matInput>
      </mat-form-field>


    </div>

    <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>Twitch Event</mat-label>
        <mat-select [required]="true"
                    formControlName="event">
          <mat-option *ngFor="let item of twitchEvents"
                      [value]="item">
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>


    <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>Meme</mat-label>
        <mat-select [required]="true"
                    formControlName="clipId">

          <mat-option *ngFor="let item of clipList$ | async"
                      [value]="item.id">
            {{ item.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['clipId'].hasError('required')">
          You need to select 'A media item'.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>Contains</mat-label>
        <input autocomplete="off"
               formControlName="contains"
               matInput>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button (click)="save()" cdkFocusInitial
          color="primary"
          mat-raised-button>{{ data.id ? 'Update' : 'Add' }}</button>
</mat-dialog-actions>

