<app-filter *ngIf="(dontHaveActions$ | async) === false"
            [items]="filterItems$ | async"
            [selectedArray]="filteredItems$ | async"
            (selected)="filteredItems$.next($event)"
            (searchChanged)="searchText$.next($event)"
></app-filter>

<div class="mo__content-container" *ngIf="mediaList$ | async as mediaList" [ngSwitch]="uiMode$ | async">
  <app-card-overview *ngSwitchCase="OVERVIEW_MODES.pro">

      <app-overview-add-item label="Add new media"
                             (click)="addNewItem()">

      </app-overview-add-item>

    <app-overview-item *ngFor="let item of mediaList | lazyArray$:100: 3 | async; trackBy: trackById">
      <app-media-info (onDelete)="onDelete(item.id)"
                      (onEdit)="onEdit(item)"
                      (onEditScreenClipOptions)="onClipOptions(item, $event)"
                      (onPreview)="onPreview(item)"
                      [info]="item"
                      class="mediaList__appMediaInfo"
      >

      </app-media-info>
    </app-overview-item>

  </app-card-overview>

  <!-- split view modes and / or delete the old one -->
  <div class="mo__casual-overview" *ngSwitchCase="OVERVIEW_MODES.casual">
    <div *ngIf="dontHaveActions$ | async" class="getting-started-info-pane">
      <div *ngIf="inOfflineMode$ | async">
        <mat-icon inline svgIcon="warning" color="warn" class="getting-started-info-pane__icon"></mat-icon>
        <span>You are currently in offline mode. Press
            <button mat-fab
                    color="warn"
                    class="info-pane-inline-btn"
                    (click)="fillWithDummyData()"
            >
              <mat-icon svgIcon="dashboard_customize"></mat-icon>
            </button>
            to fill with dummy data
        </span>
      </div>

      <div>
        <mat-icon inline svgIcon="info" color="primary" class="getting-started-info-pane__icon"></mat-icon>
        <span>To add media files click on the
          <button mat-fab color="warn" class="info-pane-inline-btn fake-add" [disableRipple]="true">
            <mat-icon svgIcon="add"></mat-icon>
          </button>
          button below
        </span>
      </div>
    </div>

    <div *ngFor="let mediGroup of mediaList | groupByMediaType; trackBy: trackByGroup" class="mo__casual-overview__group">
      <div class="mo__casual-overview__group__title mat-headline" >
        <ng-container *transloco="let t; read: 'common' ">
          {{t(mediGroup.groupName)}}
        </ng-container>

        <button mat-icon-button (click)="addNewActionByType(mediGroup)">
          <mat-icon svgIcon="add"></mat-icon>
        </button>

        <span class="mo__gt__amount mat-title">
          {{mediGroup.medias.length}} items
        </span>
      </div>

      <div class="mo__casual-overview__group__medias">
        <app-media-card *ngFor="let item of mediGroup.medias | lazyArray$:100: 3 | async; trackBy: trackById"
                        [action]="item"
                        [screens]="screenList$ | async"
                        [tags]="tagList$ | async"
                        (onEdit)="onEdit(item)"
                        (onPreview)="onPreview(item)"
                        (onDelete)="onDelete(item.id)"
                        (onDuplicate)="onDuplicate(item.id)"
                        (onToggleActive)="onToggleActive(item)"
                        (onOpenTriggerVariables)="onTriggerWithVariables(item)"
        >
        </app-media-card>
      </div>
    </div>
  </div>
</div>

<div class="floating-action-button">
  <button mat-mini-fab
          aria-label="Switch view mode"
          matTooltip="Switch view mode"
          (click)="toggleViewModes()"
  >
    <mat-icon [svgIcon]='(uiMode$ | async) === OVERVIEW_MODES.casual ? "collage" : "grid_view"'></mat-icon>
  </button>
  <button mat-mini-fab
          aria-label="Open the help overview"
          matTooltip="Open the help overview"
          dataCy="helpOverviewButton"
          (click)="openHelpOverview()">
    <mat-icon svgIcon="help_center"></mat-icon>
  </button>
  <button mat-fab
          aria-label="Add a new meme/media"
          matTooltip="Add a new meme/media"
          color="warn"
          (click)="addNewItem()"
  >
    <mat-icon svgIcon="add"></mat-icon>
  </button>
</div>
