<div *ngIf="mediaList$ | async as mediaList"
     class="media-list">

  <div *ngFor="let item of mediaList"
       class="media-clip">
    <mat-card class="media-clip-card">
      <app-media-info (onAssignObs)="onAssignObs(item)"
                      (onDelete)="onDelete(item.id)"
                      (onEdit)="onEdit(item)"
                      (onEditScreenClipOptions)="onClipOptions(item, $event)"
                      (onPreview)="onPreview(item)"
                      [info]="item"
      >

      </app-media-info>
    </mat-card>
  </div>
  <ng-container *ngIf="mediaList.length === 0 || (screenList$ | async).length === 0 ">
    <div [class.media-clip]="mediaList.length !== 0">
      <app-getting-started></app-getting-started>
    </div>
  </ng-container>


  <div class="media-clip add-new">
    <mat-card (click)="addNewItem()" class="card-add-new">
      <mat-icon svgIcon="add"></mat-icon>
      Add new media
    </mat-card>
  </div>
</div>

<div class="floating-action-button">
  <button (click)="addNewItem()" aria-label="Add a new meme/media"
          color="warn"
          mat-fab
  >
    <mat-icon svgIcon="add"></mat-icon>
  </button>
</div>

<app-styleguide></app-styleguide>
