@import '~angular-material-css-vars/public-util';
@import '../../../../utils/mixins';

.mediaList__appMediaInfo {
  height: 100%;
}

:host {
  display: block;

  app-filter {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 3.05rem;
    z-index: 1;
    background: var(--palette-background-background) !important;

    ::ng-deep {
      .filterRow {
        margin-bottom: 1rem;
      }
    }
  }
}

.mo__casual-overview {
  padding: 2rem;
  overflow: hidden;

  &__group {
    display: flex;
    flex-wrap: wrap;

    &:not(:first-child) {
      margin-top: 12px;
    }

    &__title {
      flex: 100%;
    }

    &__medias {
      display: flex;
      gap: 12px;
    }
  }
}
