<app-action-preview [action]="clip" (click)="previewClicked($event)"
                    [setting]="settings"
                    iconSize="100%"
                    draggable="false"></app-action-preview>

<ngx-moveable
  #moveableInstance
  [target]="showResizeBorder ? element?.nativeElement : null"
  [origin]="true"
  [edge]="false"

  [draggable]="draggingEnabled"
  [throttleDrag]="10"
  (dragStart)="onDragStart($event)"
  (drag)="onDrag($event)"
  (dragEnd)="onDragEnd($event)"


  [keepRatio]="false"

  [resizable]="resizeEnabled"
  [throttleResize]="10"
  (resizeStart)="onResizeStart($event)"
  (resize)="onResize($event)"
  (resizeEnd)="onResizeEnd($event)"

  [rotatable]="rotateEnabled"
  [throttleRotate]="10"
  (rotateStart)="onRotateStart($event)"
  (rotate)="onRotate($event)"
  (rotateEnd)="onRotateEnd($event)"

  [transformOrigin]="transformOrigin"

  [warpable]="warpEnabled"
  (warpStart)="onWarpStart($event)"
  (warp)="onWarp($event)"
  (warpEnd)="onWarpEnd($event)"
></ngx-moveable>
