:host {
  width: 100%;
  display: block;
}

.info-holder {
  display: flex;
  flex-direction: column;
}

.title-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.title-name {
  margin-bottom: 0;
}

.information {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    width: 45%;
  }
}

.preview {
  margin-bottom: 2rem;
}

.preview-img {
  width: 100%;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.delete-media {
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 100%;
  margin-bottom: 1rem;

  td {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}

.gray {
  background-color: #545454
}


.bottom-spacing {
  margin-bottom: 1.5rem;
}

.header {
  flex: 1;
}

.header-line {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;


}

.small-column {
  width: 50px;
}
