:host {
  width: 100%;
  display: block;
}

.mediaInfo {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.mediaInfo__titleRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.mediaInfo__titleRow__name {
  margin-bottom: 0;
  height: 2rem;
  overflow: hidden;
  margin-right: 2rem;
}

.mediaInfo__actionButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    width: 45%;
  }
}

.mediaInfo__preview {
  margin-bottom: 2rem;
}

.mediaInfo__preview__img {
  height: 100%;
}

gewd-auto-scale.mediaInfo__preview__img {
  margin-left: auto;
  margin-right: auto;
}

app-action-type {
   display: flex !important;
   justify-content: center;
 }

.mediaInfo__preview__audio, .mediaInfo__preview__video {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;

  .mat-icon {
    width: 8rem;
    height: 8rem;
  }
}

.mediaInfo__delete {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.mediaInfo__screensList {
  margin-top: 2rem;
  margin-bottom: 6rem;
  height: 8.5rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.mediaInfo__iconWrapper {
  position: relative;

  button {
    position: absolute;
    right: 1rem;
    top: -0.5rem;

    &.twitch_icon {
      right: 3.25rem;

      &:not(.inactive) {
        // color: #6441A4;
      }
    }
  }
}

