:host {
  width: 100%;
  display: block;
}

.info-holder {
  display: flex;
  flex-direction: row;
}

.info-content {
  display: flex;
  flex-direction: column;
  flex: 1;

  max-width: calc(100% - 2rem);
}


.title-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.informations {
  margin: 1rem 1rem 1rem 0;
  flex: 1;
}

.buttons {
  flex-grow: 0;
   display: flex;
  flex-direction: column;
}


.preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
