<div class="mediaInfo">
  <div class="mediaInfo__titleRow">
    <h2 class="mat-h2 mediaInfo__titleRow__name">{{info.name}}</h2>
    <span class="mediaInfo__iconWrapper">
      <ng-container *ngIf="twitchEvents$ | async as twitchEvents">
        <ng-container *ngIf="twitchEvents.length === 1">
          <button mat-icon-button (click)="onToggleTwitchEvent.emit(twitchEvents[0].id)"
                  [class.inactive]="!twitchEvents[0].active"
                  [color]="twitchEvents[0].active ? 'primary' : 'warn' "
                  class="twitch_icon"
                  [matTooltip]="twitchEvents[0].active ? 'Disable Twitch-Command' : 'Enable Twitch-Command'">
          <mat-icon svgIcon="twitch"></mat-icon>
        </button>
        </ng-container>
            <ng-container *ngIf="twitchEvents.length > 1">
              <button mat-icon-button (click)="onlyWithOneEventPossible()"
                      color="primary"
                      class="twitch_icon"
                      matTooltip="Multiple Twitch-Commands assigned">
          <mat-icon svgIcon="twitch"></mat-icon>
        </button>
            </ng-container>
      </ng-container>

      <button mat-icon-button (click)="onToggleMobileShow.emit()"
              [color]="info.showOnMobile ? 'primary' : 'warn' "
              [matTooltip]="info.showOnMobile ? 'Hide on Mobile-View' : 'Show on Mobile-View'">
        <mat-icon [svgIcon]="info.showOnMobile ? 'mobile_friendly' : 'mobile_off'"></mat-icon>
      </button>
      <app-clip-type [type]="info.type"></app-clip-type>
    </span>
  </div>
  <mat-card-content>
    <div class="mediaInfo__preview">
      <!--Todo extract this to clip-preview -->
      <gewd-auto-scale *ngIf="info.type === 0 && (info.previewUrl || info.path)"
                       width="300" height="188"
                       class="mediaInfo__preview__img">
        <img [src]="info | mediaToUrl | safeurl"
             [alt]="info.name">
      </gewd-auto-scale>



      <app-clip-type *ngIf="info.type !== 0"
                     [type]="info.type"
                     iconSize="12rem"
                     class="mediaInfo__preview__img">

      </app-clip-type>

      <div *ngIf="info.type === 3 && (info.previewUrl || info.path) && false">
        <iframe [src]="info.path | safeurl"></iframe>
      </div>

      <div *ngIf="info.type === 4 && false">
        <app-dynamic-iframe [content]="info | clipToIframe"
                            [mediaId]="info.id">

        </app-dynamic-iframe>
      </div>
    </div>

    <div class="mediaInfo__actionButtons">
      <button (click)="onEdit.emit()" color="accent" mat-flat-button>
        <mat-icon svgIcon="edit"></mat-icon>
        Edit
      </button>
      <button (click)="onPreview.emit()" color="primary" mat-button
              matTooltip="Preview in the opened Screen">
        <mat-icon svgIcon="preview"></mat-icon>
        Preview
      </button>
    </div>

    <div class="mediaInfo__screensList">
      <app-clip-chips-list [clip]="info" [listTags]="true"></app-clip-chips-list>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="onDelete.emit()" class="mediaInfo__delete" color="warn" mat-flat-button>
      <mat-icon svgIcon="delete"></mat-icon>
      Delete media
    </button>
  </mat-card-actions>
</div>
