:host {
  width: 100%;
  display: flex;
  flex-direction: column;

  ::ng-deep {
    .mat-expansion-panel-header-description {
      flex-grow: 0;
    }

    .mat-tab-body-wrapper {
      margin-top: 1rem;
    }
  }
}

mat-dialog-content {
  flex: 1;
  max-height: unset;
}

.padding {
  margin: 2rem;
  width: calc(100% - 4rem);
}

form {
  display: flex;
  flex-wrap: wrap;
}

.dialog-content {
  display: flex;
  flex-direction: row;

  height: 100%;
}

mat-tab-group {
  flex: 1;
}

gewd-codemirror {
  height: 100%;
}

mat-form-field {
  width: 100%;
}
