<h2 mat-dialog-title class="title-wrapper">
  Edit Script for "{{data.name}}"

  <button mat-raised-button (click)="exportScript()">Export</button>
  <button mat-raised-button (click)="fileSelection.click()" >Import</button>
  <input type="file" style="display: none"
         #fileSelection accept="application/json"
         (change)="onFileInputChanged($event)">
</h2>
<mat-dialog-content class="mat-typography">

<div class="dialog-content">
  <mat-tab-group [selectedIndex]="data.actionType === 5 ? 2 : 1">
    <mat-tab label="Variables">
      <app-hint-panel [addBottomPadding]="true">
        You can define variables which can be set outside of the script. Useful if you want to share a script with others.

      </app-hint-panel>

      <app-variables-config [variablesList]="variablesList"
                            (onDeleteVariable)="deleteVariable($event)"
                            (onAddNewVariable)="addNewVariable()">

      </app-variables-config>
    </mat-tab>
    <mat-tab label="Bootstrap Script" *ngIf="data.actionType === 5">
      <app-hint-panel [addBottomPadding]="true">
        If your script needs functions or objects that shouldn't be re-evaluated on each script call.
      </app-hint-panel>

      <mat-form-field  floatLabel="always">
        <mat-label>Bootstrap Script</mat-label>

        <gewd-custom-form-control [value]="workingValue.bootstrapScript"
        >
          <gewd-codemirror [value]="workingValue.bootstrapScript"
                           [codemirrorExtensions]="jsExtensions"
                           (changed)="workingValue.bootstrapScript = $event;">

          </gewd-codemirror>
        </gewd-custom-form-control>
      </mat-form-field>
    </mat-tab>
    <mat-tab label="Script to Execute">

      <div class="two-columns" style="height: 100%">
        <div style="flex: 1; height: 100%">
          <gewd-codemirror [value]="workingValue.executionScript" #codemirrorExecScript
                           [codemirrorExtensions]="jsExtensions"
                           (changed)="updateExecutionScript($event)">

          </gewd-codemirror>
        </div>
        <div style="width: 400px; padding: 1rem">
          <button mat-raised-button style="margin-right: 1rem;margin-bottom: 1rem"
                  (click)="addActionAtCursor(codemirrorExecScript)">
            Add Action at cursor
          </button>

          Actions Details:

          <ng-container *ngIf="declaredActionInformation$ | async as declaredActions">
            <ng-container  *ngFor="let assignedClip of declaredActions"
            >
              #{{assignedClip.id}}
            <app-compact-action-card [action]="assignedClip">

            </app-compact-action-card>

            </ng-container>
          </ng-container>
        </div>
      </div>

    </mat-tab>
  </mat-tab-group>
</div>

</mat-dialog-content>

<mat-dialog-actions class="two-columns">
  <div class="column">
    <button mat-flat-button (click)="openTutorialMarkdown()">
      <mat-icon svgIcon="help"></mat-icon>

      Open Help
  </button>

    <app-open-feedback-button feedbackTarget="Script Edit Dialog"></app-open-feedback-button>

  </div>
  <div class="column" align="end" >
    <button mat-button mat-dialog-close>Cancel</button>
    <button (click)="save()" cdkFocusInitial
            color="accent"
            mat-raised-button>Update</button>
  </div>
</mat-dialog-actions>
