:host {
  display: block;
  max-width: 600px;
  min-width: 320px;
}

form {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.title__icon {
  margin-right: 0.5rem;
}

textarea {
  min-height: 15rem;
}
