<h1 mat-dialog-title>Choose action for "{{ data.dialogTitle }}"</h1>

<div mat-dialog-content>
  <div class="filterRow">
    <app-filter [items]="filterItems$ | async"
                (selected)="filteredItems$.next($event)"
                (searchChanged)="searchText$.next($event)"
    ></app-filter>
  </div>

  <ol class="mediaList">
    <li (click)="clickToSelect(clip)"
        *ngFor="let clip of clips$ | async; trackBy: trackByClip"
        [class.mediaList__option--selected]="checkedMap[clip.id]"
        class="mediaList__option animate__animated  animate__fadeIn"
    >
      <figure *ngIf="clip.type === MediaType.Picture">
        <figcaption class="mediaList__header">
          <app-clip-type [type]="clip.type"
                         class="mediaList__icon"
                         matListIcon>
          </app-clip-type>

          <span class="mediaList__header__name">{{clip.name}}</span>
        </figcaption>
        <img [alt]="clip.name" [src]="clip | mediaToUrl" class="mediaList__img" />
      </figure>

      <div *ngIf="clip.type === MediaType.Audio" class="mediaList__audioContainer">
        <div class="mediaList__header">
          <app-clip-type [type]="clip.type"
                         class="mediaList__icon"
                         matListIcon>
          </app-clip-type>

          <span class="mediaList__header__name">{{clip.name}}</span>
        </div>

        <div class="audio-image">
          <mat-icon matListIcon svgIcon="speaker"></mat-icon>
        </div>
      </div>

      <div *ngIf="clip.type === MediaType.Script" class="mediaList__scriptContainer">
        <div class="mediaList__header">
          <app-clip-type [type]="clip.type"
                         class="mediaList__icon"
                         matListIcon>
          </app-clip-type>

          <span class="mediaList__header__name">{{clip.name}}</span>
        </div>

        <div class="script-image">
          <mat-icon matListIcon svgIcon="code"></mat-icon>
        </div>
      </div>

      <div *ngIf="clip.type === MediaType.Video" class="mediaList__videoContainer">
        <div class="mediaList__header">
          <app-clip-type [type]="clip.type"
                         class="mediaList__icon"
                         matListIcon>
          </app-clip-type>

          <span class="mediaList__header__name">{{clip.name}}</span>
        </div>

        <div class="video-image">
          <mat-icon matListIcon svgIcon="video_library"></mat-icon>
        </div>
      </div>

      <div *ngIf="clip.type === MediaType.IFrame" class="iframe-container">
        <div class="mediaList__header">
          <app-clip-type [type]="clip.type"
                         class="mediaList__icon"
                         matListIcon>
          </app-clip-type>

          <span class="mediaList__header__name">{{clip.name}}</span>
        </div>

        <div class="media-iframe-container">
          <app-clip-type [type]="clip.type"
                         class="mediaList__icon"
                         iconSize="6rem"
                         matListIcon>
          </app-clip-type>
        </div>
      </div>


      <div *ngIf="clip.type === MediaType.Widget" class="iframe-container">
        <div class="mediaList__header">
          <app-clip-type [type]="clip.type"
                         class="mediaList__icon"
                         matListIcon>
          </app-clip-type>

          <span class="mediaList__header__name">{{clip.name}}</span>
        </div>

        <div class="media-iframe-container"></div>
      </div>

      <div *ngIf="clip.type === MediaType.Meta" class="mediaList__videoContainer">
        <div class="mediaList__header">
          <app-clip-type [type]="clip.type"
                         class="mediaList__icon"
                         matListIcon>

          </app-clip-type>

          <span class="mediaList__header__name">{{clip.name}}</span>
        </div>

        <div class="video-image">
          <mat-icon matListIcon svgIcon="art_track"></mat-icon>
        </div>
      </div>
    </li>
  </ol>
</div>

<mat-dialog-actions class="two-columns">
  <div class="column">
    <app-open-feedback-button feedbackTarget="Choose Action Dialog"></app-open-feedback-button>
  </div>
  <div class="column" align="end" >
    <button mat-button mat-dialog-close>Close</button>
  </div>
</mat-dialog-actions>
