@import '~angular-material-css-vars/public-util';
@import '../../../../utils/mixins';

:host {
  width: 100%;

  ::ng-deep .mat-chip {
    &.mat-chip.mat-standard-chip {
      &.filterChip--selected {
        background-color: mat-css-color-accent();
      }
    }
  }
}

.filterRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;

  position: sticky;
  top: 0;
  background: var(--palette-background-background);
  z-index: 10;
}

.filterRow__icon {
  margin-right: 1rem;
}

.mediaList {
  @include gridLayout;
  width: 100%;
  list-style: none;
  padding-top: 0;
}

.mediaList__option {
  margin-bottom: 1rem;
  cursor: pointer;
  padding: 0;
  transition: padding 0.1s ease-in-out;
  border-radius: 1rem;
}

.mediaList__option--selected {
  background-color: #3F4855;
  padding: 0.75rem;
  border: 0.25rem solid #00d8d6;
}

.mediaList__img {
  width: 100%;
}

.mediaList__header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  &__name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.mediaList__icon {
  margin-right: 0.5em;
}

.mediaList__audioContainer, .mediaList__videoContainer {
  height: 100%;
  display: block;
  position: relative;
}

//TODO this is weird
.audio-image,
.video-image {
  display: flex;
  height: 75%;
  align-items: center;
  justify-content: center;

  .mat-icon {
    height: 6rem;
    width: 6rem;
  }
}

.filterChip {
  cursor: pointer;
}

.iframe-container {
  .media-iframe-container {
    width: 100%;
    pointer-events: none;

    iframe {
      width: 100%;
    }
  }
}

.svgContainer {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin-left: 0.25rem;
  display: flex;
  align-items: center;
}

app-filter {
  width: 100%;
}
