<mat-toolbar>
  <mat-toolbar-row>
    <span>MemeBox</span>

    <span class="toolbar-spacer">
  </span>

    <mat-select (valueChange)="onColumnSizeChanged($event)" [value]="currentColumnSize"
                placeholder="Columns">
      <mat-option [value]="50">2 Columns</mat-option>
      <mat-option [value]="33">3 Columns</mat-option>
      <mat-option [value]="25">4 Columns</mat-option>
    </mat-select>
  </mat-toolbar-row>
</mat-toolbar>

<div [style.--item-width-percent.%]="currentColumnSize" class="page-content">
  <ng-container *ngIf="connectionState$ | async as connectionState">
    <span class="item item-wide"
          *ngIf="(connectionState) !== ConnectionState.Connected">

      <mat-card [ngSwitch]="connectionState">
        <mat-icon svgIcon="wifi_off" class="connectionIcon">

        </mat-icon>

        <ng-container *ngSwitchCase="ConnectionState.Disconnected">
          Disconnected.
        </ng-container>
        <ng-container *ngSwitchCase="ConnectionState.Reconnecting">
          Reconnecting.
        </ng-container>
        <ng-container *ngSwitchCase="ConnectionState.Error">
          Error.
        </ng-container>
      </mat-card>
   </span>
  </ng-container>


  <ng-container *ngFor="let groupedClip of groupedClipList$|async" class="item">
       <span class="item item-wide">
          {{ groupedClip.title }}
       </span>

    <span *ngFor="let clip of groupedClip.clips" class="item">

    <mat-card (click)="onPreview(clip)"
              mat-ripple>

    <app-clip-type [type]="clip.type"></app-clip-type>
      <span>{{clip.name}}</span>
      </mat-card>
  </span>

  </ng-container>


</div>
