:host {
  display: flex;
  flex-direction: column;
}

$toolbarHeight: 64px;

.page-content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  height: calc(100vh - #{$toolbarHeight});
  max-height: calc(100vh - #{$toolbarHeight});
  overflow-y: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.item {
  width: var(--item-width-percent, 50%);
  padding: 1rem 0.5rem 0;

  .mat-card {
    height: 100%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  &.reload-item {
    .mat-card {
      display: flex;
    }
  }

  &-wide {
    width: 100%;
  }

  mat-card {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}

mat-toolbar {
  mat-select {
    width: 140px;
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}

app-clip-type {
  display: inline-block;
  padding-right: 0.5rem;
}

.connectionIcon {
  color: black;
  height: 5rem;
  width: 5rem;
  margin: 2rem;
}

mat-card.mobile-action {
  display: flex !important;
  flex-direction: row;
}

.variable-trigger-button {
  margin-left: -0.5rem;
  line-height: 18px;
}
