<mat-toolbar>
  <mat-toolbar-row>
    <span>MemeBox</span>

    <span class="toolbar-spacer"></span>

    <mat-select (valueChange)="onColumnSizeChanged($event)" [value]="currentColumnSize"
                placeholder="Columns">
      <mat-option [value]="50">2 Columns</mat-option>
      <mat-option [value]="33">3 Columns</mat-option>
      <mat-option [value]="25">4 Columns</mat-option>
      <mat-option [value]="16.6">6 Columns</mat-option>
      <mat-option [value]="12.5">8 Columns</mat-option>
    </mat-select>
  </mat-toolbar-row>
</mat-toolbar>

<div [style.--item-width-percent.%]="currentColumnSize" class="page-content">
  <ng-container *ngIf="connectionState$ | async as connectionState">
    <span class="item item-wide"
          *ngIf="(connectionState) !== ConnectionState.Connected">

      <mat-card [ngSwitch]="connectionState">
        <mat-icon svgIcon="wifi_off" class="connectionIcon">

        </mat-icon>

        <ng-container *ngSwitchCase="ConnectionState.Disconnected">
          Disconnected.
        </ng-container>
        <ng-container *ngSwitchCase="ConnectionState.Reconnecting">
          Reconnecting.
        </ng-container>
        <ng-container *ngSwitchCase="ConnectionState.Error">
          Error.
        </ng-container>
      </mat-card>
   </span>
  </ng-container>


  <ng-container *ngFor="let groupedClip of groupedActionList$|async" class="item">
       <span class="item item-wide">
          {{ groupedClip.title }}
       </span>

    <span *ngFor="let action of groupedClip.clips" class="item">

    <mat-card (click)="onPreview(action)"
              mat-ripple [matRippleDisabled]="disabledRipple"
              hover-class="mat-elevation-z5"
              class="mat-elevation-z1 mobile-action"
              [class.media-active]="activityState.isActionActive$(action.id) | async">

      <div>
      <app-clip-type [type]="action.type"></app-clip-type>
        <ng-container *ngIf="action | actionHasTriggerableVariables">
        <br/>
       <button mat-icon-button class="variable-trigger-button"
               (click)="showVariableDialog(action); $event.stopPropagation()"
               (mouseenter)="disabledRipple=true" (mouseleave)="disabledRipple=false"
               color="primary"
               matTooltip="Trigger this with custom variables">
         <mat-icon svgIcon="tune"></mat-icon>
       </button>
          </ng-container>
      </div>
      <span style="flex: 1; text-align: center;">{{action.name}}</span>
    </mat-card>
  </span>

  </ng-container>


  <span class="item item-wide">
    Mobile View:
  </span>

  <span class="item reload-item">

    <mat-card (click)="reloadPage()"
              mat-ripple>

       <mat-icon svgIcon="replay"></mat-icon>
      <span> Reload View</span>
    </mat-card>
  </span>
</div>
