<h2 mat-dialog-title> {{ data.id ? 'Update ' : 'Add ' }} a Twitch {{form.value.event}}-Event:
  <code *ngIf="form.value.contains">{{form.value.contains}}</code>
</h2>
<mat-dialog-content class="mat-typography min-height-dialog">
  <div class="two-columns" [formGroup]="form">
    <div class="column">
        <div class="example-container" style="display: none">
          <mat-form-field appearance="fill">
            <mat-label>Event Name</mat-label>
            <input autocomplete="off"
                   formControlName="name"
                   placeholder="Raided by whitep4nth3r"
                   matInput>
          </mat-form-field>


        </div>

        <div class="example-container">
          <mat-form-field appearance="fill" *transloco="let t; read: 'twitch' ">
            <mat-label>Twitch Event Type</mat-label>
            <mat-select [required]="true"
                        formControlName="event">
              <mat-option *ngFor="let item of twitchEvents"
                          [value]="item">
                {{ t(item) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="example-container" *ngIf="form.value.event === twitchEventTypes.message">
          <mat-form-field>
            <mat-label>Message text to trigger event</mat-label>
            <input autocomplete="off"
                   formControlName="contains"
                   placeholder="!wow"
                   matInput>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Aliases</mat-label>
            <mat-chip-list #chipList aria-label="Tag selection">
              <mat-chip
                *ngFor="let alias of currentAliases$ | async"
                [selectable]="false"
                [removable]="true"
                (removed)="removeAlias(alias)">
                {{alias}}
                <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
              </mat-chip>
              <input
                #tagInput
                [formControl]="aliasesFrmControl"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="enterNewAlias($event)" autocomplete="off"
                (blur)="enterNewAlias({input: tagInput, value: tagInput.value})">
            </mat-chip-list>
          </mat-form-field>
        </div>

      <div class="example-container" *ngIf="twitchEventFields[form.value.event].fields.channelPointId?.enable">
        <mat-form-field appearance="fill">
          <mat-label>Choose ChannelPoint Redemption</mat-label>
          <mat-select [required]="true"
                      formControlName="channelPointId">
            <mat-option *ngFor="let item of channelPoints$ | async"
                        [value]="item.id"
                        [style.background]="item.background_color"
                        [style.color]="item.background_color | fontColorContrast"
            >
              {{ item.title }} [{{ item.cost}}]
            </mat-option>
            <mat-option [disabled]="true" *ngIf="twitchNotAuthenticated$|async">
              You need to be authenticated with your Twitch-Account to use Channelpoint Redemptions.
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field appearance="fill" *ngIf="twitchEventFields[form.value.event].fields.minValue?.enable">
          <mat-label>{{twitchEventFields[form.value.event].fields.minValue?.placeholder}}</mat-label>
          <input autocomplete="off"
                 formControlName="minAmount"
                 [placeholder]="twitchEventFields[form.value.event].fields.minValue?.placeholder"
                 matInput>
        </mat-form-field>

          <mat-form-field appearance="fill" *ngIf="twitchEventFields[form.value.event].fields.minValue?.enable">
            <mat-label>{{twitchEventFields[form.value.event].fields.maxValue?.placeholder}}</mat-label>
            <input autocomplete="off"
                   formControlName="maxAmount"
                   matInput>
          </mat-form-field>
        </div>

        <div class="example-container">
          <mat-form-field appearance="fill">
            <mat-label>Cooldown between triggers</mat-label>
            <input autocomplete="off"
                   formControlName="cooldown"
                   placeholder="0"
                   matInput>
            <span matSuffix>ms</span>
            <mat-hint>{{ form.value.cooldown ? (form.value.cooldown | readableMs) : 'Never' }}</mat-hint>
            <mat-error *ngIf="form.controls['cooldown'].errors?.max">
              Above the max value (10h)
            </mat-error>
          </mat-form-field>

          <mat-checkbox  [checked]="canBroadcasterIgnoreCooldown"
                         (change)="canBroadcasterIgnoreCooldown = $event.checked">
            Can the Broadcaster ignore the cooldown?
          </mat-checkbox>
        </div>

      <br/>

      <div class="example-container" *ngIf="form.value.event === twitchEventTypes.message">
        <h2>Select Twitch Roles</h2>

        <div class="simple-wrap">
          <div *ngFor="let levelEntry of TWITCH_LEVELS">
            <mat-checkbox [checked]="data.roles?.includes(levelEntry.type)"
                          (change)="toggleRole(levelEntry.type)">
              {{levelEntry.label}}
            </mat-checkbox>
          </div>
        </div>

      </div>
    </div>
    <div class="column" *ngIf="clipDictionary$ | async as clipDictionary">
      <div class="example-container">
        <h2>Select action


          <app-open-action-settings-button *ngIf="selectedAction$ | async as action"
                                           [action]="action">

          </app-open-action-settings-button>
        </h2>

        <button mat-raised-button (click)="selectEventClip()"
                [class.selectClipButton]="!!form.value.clipId"
                [color]="showWarningClipSelection ? 'warn' : 'accent'">
          <span>
            <ng-container *ngIf="form.value.clipId && clipDictionary[form.value.clipId]?.name; else notSelected">

              <app-action-preview [action]="clipDictionary[form.value.clipId]"
                                  height="100px" width="200px"></app-action-preview>
              {{ clipDictionary[form.value.clipId]?.name }}
            </ng-container>

            <ng-template #notSelected>
              Choose action to trigger
            </ng-template>
          </span>

          <ng-template>
            Choose
          </ng-template>
        </button>
      </div>

      <br />

      <ng-container *ngIf="selectedAction$ | async as action">
        <ng-container *ngIf="action.extended && action.extended['_variables']">
          Variables:

          <app-action-variables-assignments [appVariablesConfigByActionId]="action.id"
                                            [data]="data.extended"
                                            [fallbackData]="action.extended"
                                            (dataChanged)="data.extended = $event">

          </app-action-variables-assignments>
        </ng-container>
      </ng-container>
      <br/>

      <div class="example-container" *ngIf="showScreenSelection$ | async">
        <mat-form-field appearance="fill">
          <mat-label>Target Screen</mat-label>
          <mat-select formControlName="screenId">
            <mat-option [value]="''">All</mat-option>
            <mat-option *ngFor="let screen of screenList$ | async"
                        [value]="screen.id">
              {{ screen.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
  </div>
</mat-dialog-content>


<mat-dialog-actions class="two-columns">
  <div class="column">
    <app-open-feedback-button feedbackTarget="Twitch Trigger Dialog"></app-open-feedback-button>
  </div>
  <div class="column" align="end" >
    <button mat-button mat-dialog-close>Cancel</button>
    <button (click)="save()"
            color="primary"
            mat-raised-button>{{ data.id ? 'Update Trigger' : 'Add Trigger' }}</button>
  </div>
</mat-dialog-actions>
