:host {
  display: block;
}

.min-height-dialog {
  min-height: 40vh;
  padding-bottom: 2rem;
}

.mat-form-field {
  display: block;
}

.selectClipButton {
  padding-left: 0;
  padding-right: 0;
  width: 200px;
}


.two-columns {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 920px) {
    flex-direction: column;
  }
}

.column {
  flex: 1;

  &:last-child {

    @media screen and (min-width: 920px) {
      margin-left: 1rem;
    }
  }
}


.simple-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > div {
    width: 33%;
  }
}
