<h2 mat-dialog-title class="title-wrapper">
  Edit Widget for "{{data.name}}"

  <button mat-raised-button (click)="exportWidget()">Export</button>
  <button mat-raised-button (click)="fileSelection.click()" >Import</button>
  <input type="file" style="display: none"
         #fileSelection accept="application/json"
         (change)="onFileInputChanged($event)">
</h2>
<mat-dialog-content class="mat-typography">

<div class="dialog-content">
  <mat-accordion [multi]="true">

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Custom Variables
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>

        "Notes":
        These are the variables to be used inside CSS / JS / HTML - for an easier way to change the Widget "config" or values or something.

        <app-variables-config [variablesList]="variablesList"
                              [isWidgetVariableList]="true"
                              (onEditVariable)="markForCheck()"
                              (onDeleteVariable)="deleteVariable($event)"
                              (onAddNewVariable)="addNewVariable()">

        </app-variables-config>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          HTML
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field  floatLabel="always">
        <mat-label>HTML</mat-label>

        <gewd-custom-form-control [value]="workingValue.html"
        >
          <gewd-codemirror [value]="workingValue.html"
                           [codemirrorExtensions]="htmlExtensions"
                           (changed)="workingValue.html = $event; markForCheck();">

          </gewd-codemirror>
        </gewd-custom-form-control>
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          CSS
        </mat-panel-title>
        <mat-panel-description>
          <div *ngIf="workingValue.css">CSS is used</div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field  floatLabel="always">
        <mat-label>CSS</mat-label>

        <gewd-custom-form-control [value]="workingValue.css">

          <gewd-codemirror [value]="workingValue.css"
                           [codemirrorExtensions]="cssExtensions"
                           (changed)="workingValue.css = $event; markForCheck();">

          </gewd-codemirror>
        </gewd-custom-form-control>
      </mat-form-field>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          JS
        </mat-panel-title>
        <mat-panel-description>
          <div *ngIf="workingValue.js">JS is used</div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-checkbox [checked]="workingValue.settings.subscribeToTwitchEvent"
      (change)="workingValue.settings.subscribeToTwitchEvent = $event.checked">
        Receive Twitch Events
      </mat-checkbox>
      <mat-form-field  floatLabel="always">
        <mat-label>JS</mat-label>

        <gewd-custom-form-control [value]="workingValue.js"
        >
          <gewd-codemirror [value]="workingValue.js"
                           [codemirrorExtensions]="jsExtensions"
                           (changed)="workingValue.js = $event; markForCheck();">

          </gewd-codemirror>
        </gewd-custom-form-control>
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel class="external-file-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          External Files
        </mat-panel-title>
        <mat-panel-description>
          {{workingValue.libraries.length}} External Files
        </mat-panel-description>
      </mat-expansion-panel-header>

      <button mat-raised-button
              (click)="addNewExternal()"
              color="primary">
        <mat-icon svgIcon="add"></mat-icon>
        Add
      </button>
      <br/>
      <br/>

      <div *ngFor="let externalFile of workingValue.libraries; let index = index;"
           class="external-file-row">

        <mat-form-field class="file-type-select">
          <mat-label>Type</mat-label>
          <mat-select [(value)]="externalFile.type"
                      (change)="saveExternalArray()">
            <mat-option value="css">CSS</mat-option>
            <mat-option value="script">Script</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="file-url">
          <mat-label>Source</mat-label>
          <input matInput [(ngModel)]="externalFile.src"
                 (change)="saveExternalArray()"
                 autocomplete="off"/>
        </mat-form-field>

        <button mat-icon-button color="warn" (click)="deleteExternalFile(index)">
          <mat-icon svgIcon="delete"></mat-icon>
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>


<div class="iframe-preview ">
  <div class="iframe-preview-options">
  <mat-checkbox [checked]="true" #enablePreviewRefresh>Enable Preview Auto-Refresh</mat-checkbox>
  <button mat-raised-button *ngIf="!enablePreviewRefresh.checked"
  (click)="markForCheck(true)">
    Trigger preview
  </button>
  </div>

  <app-dynamic-iframe [content]="iframeContent$ | async"
                      [mediaId]="data.mediaId"
                      class="preview-box">

  </app-dynamic-iframe>
</div>

</div>

</mat-dialog-content>

<mat-dialog-actions class="two-columns">
  <div class="column">
    <button mat-flat-button (click)="openTutorialMarkdown()">
      <mat-icon svgIcon="help"></mat-icon>

      Open Help
    </button>

    <app-open-feedback-button feedbackTarget="Widget Edit Dialog"></app-open-feedback-button>
  </div>
  <div class="column" align="end" >
  <button mat-button mat-dialog-close>Cancel</button>
  <button (click)="save()" cdkFocusInitial
          color="accent"
          mat-raised-button>Update</button>
  </div>
</mat-dialog-actions>
