:host {
  position: relative;
  display: inline-flex;
  background: lightslategray;
  padding: 14px;
  margin-left: 2px;
}

.example {
  height: 30px;
  width: 30px;
  background: rgba(var(--palette-primary-500), 1);
}
