mat-dialog-content {
  display: block;
  height: 60vh;
}

mat-dialog-actions {
  display: flex;
}
.space {
  flex: 1;
}

.scope-row {
  display: flex;
  align-items: center;

  mat-form-field {
    flex: 1;
  }
}
