<h2 class="type_header">
  Twitch [{{ (twitchEventsList$ | async).length}}]

  <button *ngIf="twitchChannelExist$ | async"
          mat-icon-button (click)="createNewTwitchCommand()">
    <mat-icon svgIcon="add"></mat-icon>
  </button>
</h2>


<mat-form-field appearance="standard"
                class="filterRow__searchInput"
                (click)="$event.stopPropagation()">
  <input type="search" matInput
         (click)="$event.stopPropagation()"
         (keyup)="updateSearchField(searchInput.value)"
         autocomplete="off"
         placeholder="Search Triggers"
         #searchInput>

  <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear"
          class="filterRow__searchInput__reset"
          (click)="updateSearchField(''); searchInput.value = ''">
    <mat-icon svgIcon="close"></mat-icon>
  </button>
</mat-form-field>

<app-card-overview>


<ng-container *ngIf="twitchChannelExist$ | async; else noChannel">
  <ng-container *ngIf="twitchEventsList$ | async as twitchEventList">
  <app-overview-add-item label="Add new twitch event"
                         *ngIf="twitchEventList.length === 0"
                         (click)="createNewTwitchCommand()">

  </app-overview-add-item>

  <app-overview-item *ngFor="let item of twitchEventList; trackBy: trackById">
    <app-twitch-info (onDelete)="deleteTwitchEvent(item.id)"
                    (onEdit)="editTwitchEvent(item)"
                    (onPreview)="previewEvent(item)"
                    [item]="item"
    >
    </app-twitch-info>
  </app-overview-item>
  </ng-container>
</ng-container>

  <ng-template #noChannel>
    <app-overview-add-item label="Setup Twitch Connection"
                           (click)="openTwitchConfigs()">

    </app-overview-add-item>

  </ng-template>

</app-card-overview>

<h2 class="type_header">
  Timers [{{ (timedEventsList$ | async).length}}]

  <button mat-icon-button (click)="createNewTimer()">
    <mat-icon svgIcon="add"></mat-icon>
  </button>
</h2>
<app-card-overview>
  <ng-container *ngIf="timedEventsList$ | async as timedEventsList">
  <app-overview-add-item label="Add new timed event"
                         *ngIf="timedEventsList.length === 0"
                         (click)="createNewTimer()">

  </app-overview-add-item>

    <app-overview-item *ngFor="let item of timedEventsList; trackBy: trackById">
      <app-timed-info (onDelete)="deleteTimedEvent(item.id)"
                       (onEdit)="editTimedEvent(item)"
                       [item]="item"
      >
      </app-timed-info>
    </app-overview-item>

  </ng-container>
</app-card-overview>

