<h2 class="type_header">Twitch [{{ (twitchEventsList$ | async).length}}]</h2>
<app-card-overview>

<ng-container *ngIf="twitchChannelExist$ | async; else noChannel">
  <app-overview-add-item label="Add new twitch event"
                         (click)="createNewTwitchCommand()">

  </app-overview-add-item>

  <app-overview-item *ngFor="let item of twitchEventsList$ | async; trackBy: trackById">
    <app-twitch-info (onDelete)="deleteTwitchEvent(item.id)"
                    (onEdit)="editTwitchEvent(item)"
                    (onPreview)="previewEvent(item)"
                    [item]="item"
    >
    </app-twitch-info>
  </app-overview-item>
</ng-container>

  <ng-template #noChannel>
    <app-overview-item>
      <app-twitch-setting [showAdvancedOptions]="false"></app-twitch-setting>
    </app-overview-item>
  </ng-template>

</app-card-overview>

<h2 class="type_header">Timers [{{ (timedEventsList$ | async).length}}] </h2>
<app-card-overview>
  <app-overview-add-item label="Add new timed event"
                         (click)="createNewTimer()">

  </app-overview-add-item>

    <app-overview-item *ngFor="let item of timedEventsList$ | async; trackBy: trackById">
      <app-timed-info (onDelete)="deleteTimedEvent(item.id)"
                       (onEdit)="editTimedEvent(item)"
                       [item]="item"
      >
      </app-timed-info>
    </app-overview-item>


</app-card-overview>

