:host {
  display: block;
  position: relative;
}


.type_header {
  display: flex;
  align-items: center;

  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  width: calc(100% - 2rem);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--palette-background-background) !important;
}

.filterRow__searchInput {
  position: fixed;
  z-index: 2;
  top: 2.5rem;
  right: 2rem;
  width: 170px;
}

.filterRow__searchInput__reset {
  color: rgba(var(--palette-warn-500), 1);
  height: 1rem;
  width: 1rem;

  top: 0.5rem;
}
