@import '~angular-material-css-vars/public-util';

:host {
  ::ng-deep .mat-chip {
    &.mat-chip.mat-standard-chip {
      &.filterChip--selected {
        background-color: mat-css-color-accent();
      }
    }
  }
}

.mat-expansion-panel {
  background: transparent;
  box-shadow: none !important;
}

.mat-expansion-panel-header {
  height: unset;
  min-height: 48px;
  padding-left: 0;
}

.filterRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  .mat-chip-list {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.filterRow__icon {
  align-self: baseline;
  margin-right: 2rem;

  .mat-icon {
    height: 3rem;
    width: 3rem;
  }
}

.filterChip {
  cursor: pointer;
}

.svgContainer {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin-left: 0.25rem;
  display: flex;
  align-items: center;
}

.filterEntry__icon {
  margin-right: 0.5rem;
}

mat-chip-list {
  flex: 1;
}
