@import '~angular-material-css-vars/public-util';

:host {
  ::ng-deep {
    .mat-chip {
      &.mat-chip.mat-standard-chip {
        &.filterChip--selected {
          background-color: mat-css-color-accent();
        }
      }
    }

    .mat-expansion-panel-body {
      padding: 0;
    }
  }
}

// disable the "auto-opened-up" expansion panel ... even if its marked to be closed ..
:not(.mat-expanded) ::ng-deep .mat-expansion-panel-content {
  visibility: hidden;
  height: 0;
}

.mat-expansion-panel {
  background: transparent;
  box-shadow: none !important;
}

.mat-expansion-panel-header {
  height: unset;
  min-height: 48px;
  padding-left: 0;
}

.filterRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  .mat-chip-list {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.filterRow__icon {
  align-self: baseline;
  margin-right: 2rem;

  .mat-icon {
    height: 3rem;
    width: 3rem;
  }
}

.filterRow__searchInput {
  margin-top: -1.5rem;
  margin-bottom: -1rem;
  margin-right: 1rem;
  width: 170px;
}

.filterRow__searchInput__reset {
  color: rgba(var(--palette-warn-500), 1);
  height: 1rem;
  width: 1rem;

  top: 0.5rem;
}

.filterTable__row {
  &:hover {
    background-color: var(--card-background-color);
  }

  td {
    padding: 0.5rem;
  }
}

.filterChip {
  cursor: pointer;
}

.svgContainer {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin-left: 0.25rem;
  display: flex;
  align-items: center;
}

.filterEntry__icon {
  margin-right: 0.5rem;
}

mat-chip-list {
  flex: 1;
}

table {
  width: 100%;
}
