<h2 mat-dialog-title>
  <span>
    Arrange the Media on this Screen: {{screen.name}} <br>
    Screen Size {{screen?.width}}x{{screen?.height}}
  </span>

  <button mat-button mat-dialog-close style="align-self: flex-start">Close</button>
</h2>
<mat-dialog-content class="mat-typography">
  <mat-tab-group #tabGroup (selectedTabChange)="clickedOutside()">
    <mat-tab label="Arrange">
    </mat-tab>
    <mat-tab label="Preview"></mat-tab>
  </mat-tab-group>

  <div class="rows" [class.hidden]="tabGroup.selectedIndex !== 0">
    <div class="row_content">
      <div class="dragging-config">
        <div class="left">
          <mat-form-field>
            <mat-select #sizeType value="px">
              <mat-option value="px">PX</mat-option>
              <mat-option value="%">%</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-checkbox [checked]="true" #dragCheckbox>Drag</mat-checkbox>
          <mat-checkbox [checked]="true" #resizeCheckbox
                        (change)="onCheckedToggle($event, warpingCheckbox)">Resizing</mat-checkbox>
          <mat-checkbox #rotateCheckbox style="display: none">Rotating</mat-checkbox>
          <mat-checkbox #warpingCheckbox style="display: none"
                        (change)="onCheckedToggle($event, resizeCheckbox)">Warping</mat-checkbox>
        </div>
        <div class="right" *ngIf="currentSelectedClip">
          <mat-form-field >
            <mat-select (selectionChange)="triggerChangedetection()"
                        [(value)]="currentSelectedClip.clipSetting.position"
                        placeholder="Position">
              <mat-option [value]="0">{{0 | positionToString}}</mat-option>
              <mat-option [value]="1">{{1 | positionToString}}</mat-option>
              <mat-option [value]="2">{{2 | positionToString}}</mat-option>
              <mat-option [value]="3">{{3 | positionToString}}</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button (click)="saveScreenClip()" color="accent">
            Save Clip Settings
          </button>
        </div>


      </div>
      <div class="drag-drop-area-holder"
           #holdingElement
      >

        <gewd-auto-scale [width]="holdingElement.clientWidth"
                         [height]="holdingElement.clientHeight"

        >
          <div class="drag-drop-area" (click)="clickedOutside()"
               [style.width.px]="screen?.width || 1920"
               [style.height.px]="screen?.height || 1080"
          >

            <!--
              THis Module will be fullscreen in the browser
              Screen Title

              Column 1: Media Files
              Column 2: Media Config ?
              Rest of the Screen: Drag&Drop Area

              - if random - hide this area?



              Column 2: Media Config ?   extract config from the dialog into multiple components???
              or into one which accepts a screen-clip entry?


              Also TODO:
              - Rotating on the media ? => new feature
              - Callbacks on change to update the column2 media config?
              - new absolute position type (because this drag/drop uses all 4 positions, left right top bottom)
              - split up the current screen clip config into expandable panels
              -

              [style.--width]="pair.clipSetting.width || '200px'"
                            [style.--height]="pair.clipSetting.height || '200px'"
                            [style.--top]="pair.clipSetting.top"
                            [style.--left]="pair.clipSetting.left"

              -->

            <ng-container *ngIf="currentSelectedClip">
              <ng-container *ngIf="currentSelectedClip.clipSetting.position === 0">
                <app-clip-preview [clip]="currentSelectedClip.clip"
                                  [style.--object-fit]="currentSelectedClip.clipSetting.imgFit"
                                  [style.z-index]="currentSelectedClip.clipSetting.zIndex"
                                  [style.position]="'absolute'"
                                  draggable="false"></app-clip-preview>
              </ng-container>

              <app-drag-resize-media *ngIf="currentSelectedClip.clipSetting.position === 3"
                                     [clip]="currentSelectedClip.clip"
                                     [style.z-index]="currentSelectedClip.clipSetting.zIndex"
                                     [screen]="screen"
                                     [sizeType]="sizeType.value"
                                     [showResizeBorder]="true"
                                     [settings]="currentSelectedClip.clipSetting"

                                     [draggingEnabled]="false"
                                     [resizeEnabled]="true"
                                     [rotateEnabled]="rotateCheckbox.checked"
                                     [warpEnabled]="warpingCheckbox.checked"
              >

              </app-drag-resize-media>
            </ng-container>

            <ng-container *ngFor="let pair of visibleItems$|async; trackBy: trackByClip">

              <ng-container *ngIf="pair.clipSetting.position === 1">
                <app-drag-resize-media
                  [clip]="pair.clip"
                  [screen]="screen"
                  [sizeType]="sizeType.value"
                  [style.z-index]="pair.clipSetting.zIndex"
                  [showResizeBorder]="pair === currentSelectedClip"
                  (elementClicked)="elementClicked(dragResizeMediaComponent, pair)"
                  [settings]="pair.clipSetting" #dragResizeMediaComponent
                  (inputApplied)="elementCreated(dragResizeMediaComponent, pair)"

                  [draggingEnabled]="dragCheckbox.checked"
                  [resizeEnabled]="resizeCheckbox.checked"
                  [rotateEnabled]="rotateCheckbox.checked"
                  [warpEnabled]="warpingCheckbox.checked"
                >

                </app-drag-resize-media>
              </ng-container>

            </ng-container>




          </div>

        </gewd-auto-scale>

      </div>
    </div>

    <div class="selected-item" *ngIf="false">
      <div class="media-config overflow-y">
          Selected media:



          <form class="two-columns" *ngIf="currentSelectedClip">
            <div class="settings-stuff">
              <h3>{{currentSelectedClip.clip.name}}</h3>

              <button mat-raised-button (click)="saveScreenClip()" color="accent">
                Save Clip Settings
              </button>
              <br>
              <br>
            </div>

            <div class="settings-content">

              <mat-form-field>
                <mat-select placeholder="Visibility" (valueChange)="triggerChangedetection()"
                            [(value)]="currentSelectedClip.clipSetting.visibility">
                  <mat-option [value]="0">{{0 | visibilityToString}}</mat-option>
                  <mat-option [value]="1">{{1 | visibilityToString}}</mat-option>
                  <mat-option [value]="2">{{2 | visibilityToString}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-hint [ngSwitch]="currentSelectedClip.clipSetting.visibility">
          <span *ngSwitchCase="0">
            Once this media was triggered it'll be played and then <b>hidden again</b>.
          </span>
                <span *ngSwitchCase="2">
          Once this media was triggered it'll <b>stay visible unless triggered</b> again.
          </span>
              </mat-hint>
            </div>
            <mat-expansion-panel *ngIf="currentSelectedClip.clipSetting.visibility !== 1">
              <mat-expansion-panel-header>
                Animation Options
              </mat-expansion-panel-header>

              <mat-form-field>
                <mat-select placeholder="Animate IN"
                            [(value)]="currentSelectedClip?.clipSetting.animationIn"
                            (selectionChange)="triggerChangedetection()">
                  <mat-option value="">None</mat-option>
                  <mat-option value="random">Random</mat-option>
                  <mat-option *ngFor="let animation of animateInList" [value]="animation">{{animation}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <input autocomplete="off"  [(ngModel)]="currentSelectedClip.clipSetting.animationInDuration"
                       matInput [ngModelOptions]="{standalone: true}"
                       placeholder="Animate In - Duration"
                       type="text" (change)="triggerChangedetection()">
              </mat-form-field>

              TODO Trigger animation example

              <mat-form-field>
                <mat-select placeholder="Animate OUT"
                            [(value)]="currentSelectedClip.clipSetting.animationOut"
                            (selectionChange)="triggerChangedetection()">
                  <mat-option value="">None</mat-option>
                  <mat-option value="random">Random</mat-option>

                  <mat-option *ngFor="let animation of animateOutList" [value]="animation">{{animation}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <input autocomplete="off" [(ngModel)]="currentSelectedClip.clipSetting.animationOutDuration"
                       matInput [ngModelOptions]="{standalone: true}"
                       placeholder="Animate Out - Duration"
                       type="text" (change)="triggerChangedetection()">
              </mat-form-field>

              TODO Trigger animation example
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Type Specific Settings
              </mat-expansion-panel-header>

              <mat-form-field *ngIf="currentSelectedClip.clip.type === MediaType.Video">
                <mat-select placeholder="Loop Media Clip" [(value)]="currentSelectedClip.clipSetting.loop"
                            (selectionChange)="triggerChangedetection()">
                  <mat-option [value]="false">No</mat-option>
                  <mat-option [value]="true">Yes</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field *ngIf="currentSelectedClip.clip.type === MediaType.Picture">
                <mat-select placeholder="Image-Fit" [(value)]="currentSelectedClip.clipSetting.imgFit"
                            (selectionChange)="triggerChangedetection()">
                  <mat-option value="contain">Contain</mat-option>
                  <mat-option value="fill">Fill</mat-option>
                  <mat-option value="cover">Cover</mat-option>
                  <mat-option value="scale-down">Scale down</mat-option>
                </mat-select>
              </mat-form-field>
            </mat-expansion-panel>


            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Position Settings
              </mat-expansion-panel-header>




            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Advanced Settings
              </mat-expansion-panel-header>

              <mat-form-field>
                <input autocomplete="off"  [(ngModel)]="currentSelectedClip.clipSetting.zIndex"
                       matInput  [ngModelOptions]="{standalone: true}"
                       placeholder="z-index"
                       type="number" (change)="triggerChangedetection()">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Custom CSS</mat-label>

                <gewd-custom-form-control #customFormControl
                                          [value]="currentSelectedClip.clipSetting.customCss">
                  <gewd-prism-editor [value]="currentSelectedClip.clipSetting.customCss"
                                     language="css"
                                     [debounceTime]="450"
                                     [style.--editor-min-height.px]="200"
                                     (value$)="currentSelectedClip.clipSetting.customCss = $event; triggerChangedetection()"
                                     (focussed$)="customFormControl.focused = $event">
                  </gewd-prism-editor>
                </gewd-custom-form-control>

                <mat-hint>
                  Hints: <br/>
                  <strong>.clip-holder</strong> can be used to style the holding element of the clip itself. <br/>
                  Everything else will be applied inside the holder itself.
                </mat-hint>
              </mat-form-field>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Debug
              </mat-expansion-panel-header>

              {{currentSelectedClip | json }}
            </mat-expansion-panel>
          </form>


        </div>


    </div>
    <div class="row_media_items" *ngIf="clipList$|async as allItems">
      <div style="position: absolute; right: 1rem; top: 1rem">

        <button mat-button (click)="hiddenSelect.open()"
                matTooltip="Borders">
          <ng-container *ngIf="items.length === selectedItems.value?.length || selectedItems.value?.length === 0">
            All media visible?
          </ng-container>
          <ng-container *ngIf="![items.length, 0].includes(selectedItems.value?.length)">
            {{selectedItems.value?.length}} visible
          </ng-container>
          <mat-icon svgIcon="arrow_drop_down"></mat-icon>
        </button>

        <mat-select multiple [formControl]="selectedItems"
                    style="visibility:hidden;width: 0"
                    #hiddenSelect>
          <mat-option *ngFor="let item of allItems" [value]="item.clip.id">
            {{item.clip.name}}
          </mat-option>
          <mat-select-trigger>

          </mat-select-trigger>
        </mat-select>

      </div>

      <div class="visible-media-items">
        <mat-card *ngFor="let visibleItem of visibleItems$ | async"
                  (click)="onSelectMedia(visibleItem)"
                  [class.selected]="currentSelectedClip?.clip?.id === visibleItem.clip.id"
                  matRipple>
          <mat-card-header>
            <div mat-card-avatar>
              <app-clip-type [type]="visibleItem.clip.type"
                             iconSize="36px"
                             mat-list-icon>

              </app-clip-type>
            </div>
            <mat-card-title>{{visibleItem.clip.name}}</mat-card-title>
            <mat-card-subtitle>
              {{visibleItem.clipSetting.visibility | visibilityToString}} / {{visibleItem.clipSetting.position | positionToString }}
            </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            Size:

            <ng-container *ngIf="visibleItem.clipSetting.position === 0">
              {{visibleItem.clipSetting.position | positionToString }}
            </ng-container>
            <ng-container *ngIf="visibleItem.clipSetting.position">
              {{visibleItem.clipSetting.width}}x{{visibleItem.clipSetting.height}}
            </ng-container>
            <br>

            Pos:
            <ng-container *ngIf="visibleItem.clipSetting.left">
              L: {{visibleItem.clipSetting.left}}
            </ng-container>

            <ng-container *ngIf="visibleItem.clipSetting.top">
              T: {{visibleItem.clipSetting.top}}
            </ng-container>

            <ng-container *ngIf="visibleItem.clipSetting.right">
              R: {{visibleItem.clipSetting.right}}
            </ng-container>

            <ng-container *ngIf="visibleItem.clipSetting.bottom">
              B: {{visibleItem.clipSetting.bottom}}
            </ng-container>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="rows" *ngIf="tabGroup.selectedIndex === 1">
    <div class="row_content">
      <div class="drag-drop-area-holder"
           #holdingElement
      >
        <gewd-auto-scale [width]="holdingElement.clientWidth"
                         [height]="holdingElement.clientHeight"

        >

          <div   [style.width.px]="screen.width"
                 [style.height.px]="screen.height">
            <app-target-screen [screenId]="screen.id"

            >

            </app-target-screen>
          </div>

        </gewd-auto-scale>
      </div>
    </div>


    <div class="row_media_items">
    <div class="visible-media-items">
      <mat-card *ngFor="let visibleItem of clipList$ | async"
                (click)="onPreview(visibleItem)">
        <mat-card-header>
          <div mat-card-avatar>
            <app-clip-type [type]="visibleItem.clip.type"
                           iconSize="36px"
                           mat-list-icon>

            </app-clip-type>
          </div>
          <mat-card-title>{{visibleItem.clip.name}}</mat-card-title>
          <mat-card-subtitle>
            {{visibleItem.clipSetting.visibility | visibilityToString}} / {{visibleItem.clipSetting.position | positionToString }}
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    </div>
  </div>
</mat-dialog-content>

