:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.hidden {
  display: none !important;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  max-height: unset;
  width: 99vw;
  height: 100%;
}

h2 {
  display: flex;

  span {
    flex: 1;
  }
}

.hover-background:hover {
  background: #555;
}

.overflow-y {
  overflow-y: auto;
}

.drag-drop-area-holder {
  height: 100%;
  width: 100%;
}

.drag-drop-area {
  position: relative;
  overflow: hidden;

  background: repeating-conic-gradient(#808080 0% 25%, transparent 0% 50%) 50% / 50px 50px;
}


mat-expansion-panel, .settings-content, .settings-stuff {
  margin: 1rem 1rem;
}

.settings-content {
  height: 10rem;

  mat-form-field {
    width: 100%;
  }
}

.selected-item {
  grid-area: selected-item;

  display: flex;
  flex-direction: column;
}

.media-config {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.dragging-config {
  height: 4rem;
  display: flex;
  flex-direction: row;

  .left {
    flex: 1;
    align-items: center;
    display: flex;
    gap: 1rem;
  }

  .right {
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    gap: 1rem;
  }
}

.rows {
  display: grid;
  // grid-template-columns: minmax(0, 1fr) 300px;
  grid-template-rows: 200px minmax(0, 1fr);
  gap: 1rem;
  grid-template-areas:
    "media-list media-list"
    "drag-content drag-content"
  ;

  flex: 1;

  /**
   * in order to achieve a MAX HEIGHT  you need a MIN HEIGHT ... obviously
   */
  min-height: 0;
}

.row_content {
  grid-area: drag-content;
}

.row_media_items {
  grid-area: media-list;
  position: relative;
}

.visible-media-items {
  padding-right: 11rem;
  display: flex;
  gap: 5px;
  margin-top: 5px;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 100%;
  align-items: flex-start;
  align-content: flex-start;

  ::ng-deep {
    .mat-card {
      padding: 10px;
      border: 3px solid transparent;

      &:hover {
        cursor: pointer;
      }
    }
    .mat-card-subtitle {
      margin-bottom: 0;
    }
  }

  .selected {
    border: 3px purple solid;
  }
}
