@mixin gridLayout {
  display: grid;

  @media screen and (min-width: 620px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 2rem;
  }

  @media screen and (min-width: 930px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 2rem;
  }
}

@mixin gridLayout__item {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
}
