:host {
  display: block;

  .mat-form-field {
    display: block !important;
  }

  ::ng-deep {
    .step-content {
      margin: 0.5rem;
    }

    lib-stepper-content .steps {
      min-width: 10rem;
      max-width: 10rem;
    }

    .mat-line {
      white-space: normal !important;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

img {
  align-self: center;
  width: 100%;
}

.form-field-row {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  width: 100%;
}


.slider__row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2rem;

  mat-slider {
    flex: 1;
  }

  .volume__label {
    width: 3rem;
    text-align: right;
  }
}

.action-buttons {
  display: flex;
  // flex-wrap: wrap;
  align-content: space-around;
  flex-direction: column;
  justify-content: space-evenly;

  button {
    margin-bottom: 0.5rem;
  }
}

.hidden {
  display: none;
}

.column {
  flex: 1;

  &:last-child {
    &:not(.custom-html-preview) {
      align-self: center;
    }

    &.script {
      align-self: stretch;
      width: 50%;

      gewd-codemirror {
        height: 100%;
      }
    }


    @media screen and (min-width: 920px) {
      margin-left: 1rem;
    }

    app-action-type {
      // hacky but flex justify doesn't work.
      float: right;
    }
  }
}

.dialog-content {
  max-height: 76vh;
  height: 76vh;
}

.action_id{
  float: right;
}

.title-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.custom-html-holder {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

app-dynamic-iframe {
  flex: 1;
}

.action_name_header {
  gap: 1rem;
}

.flex_row {

  display: flex;
  flex-direction: row;
}

mat-button-toggle-group {
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  flex-shrink: 0;
align-self: center;
  margin-bottom: 2rem;
  width: 100%;

  ::ng-deep {
    mat-button-toggle {
      flex: 1
    }

    .mat-button-toggle-checked:not(.mat-button-toggle-disabled) {
      background-color: rgba(var(--palette-accent-500), 1);
    }
  }
}

.import-export-panel {
  text-align: right;
}

lib-stepper-content {
  height: 100%;
}
