<h2 class="title-wrapper" mat-dialog-title>
  {{ (actionToEdit?.id ? 'Update ' : 'Add ') + ACTION_TYPE_INFORMATION[form.value.type].labelFallback + ': "' + form.value.name + '"'}}

  <div *ngIf="actionToEdit.id" class="action_id">
    ID: {{actionToEdit.id}}
    <button (click)="copyIdToClipboard()" mat-icon-button>
      <mat-icon style="width: 1rem;
    height: 1rem;line-height: 1rem" svgIcon="content_copy"></mat-icon>
    </button>
  </div>
</h2>
<mat-dialog-content class="mat-typography dialog-content">
  <form [formGroup]="form">

    <lib-stepper-content [selectedIndex]="selectedFirstTabIndex" style="min-height: 600px">
      <div class="action_name_header flex_row" stepperHeader>
        <mat-form-field style="flex: 1">
          <mat-label>Name</mat-label>
          <input autocomplete="off"
                 formControlName="name"
                 matInput
                 required
                 type="text"/>

          <mat-error *ngIf="form.controls['name'].hasError('required')">
            Name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="!actionToEdit?.id && ACTION_CONFIG_FLAGS[form.value.type].isVisibleAction"
                        style="width: 30%">
          <mat-label>to this Screen:</mat-label>
          <mat-select [(value)]="selectedScreenId">
            <mat-option value="">None</mat-option>
            <ng-container *ngIf="availableScreens$ | async as screenList">
              <mat-option *ngFor="let screen of screenList" [value]="screen.id">{{screen.name}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>

      <lib-step [enabled]="!isEditMode" [subText]="form.value.type | actionEnumToLabelAsync | async"
                label="Action-Type">
        <ng-container *ngIf="!isEditMode">
          <div *transloco="let t; read: 'common'" class="action-buttons">

            <button (click)="updateActionType(button.type)"
                    *ngFor="let button of actionTypeList"
                    [color]="form.value.type === button.type ? 'primary' : 'accent'"
                    mat-raised-button
            >
              <mat-icon [svgIcon]="button.icon"></mat-icon>
              {{ t(button.name) }}
            </button>
          </div>
        </ng-container>
      </lib-step>

      <lib-step [label]="(form.value.type | actionEnumToLabelAsync | async) + ' Settings'">
        <div class="two-columns">
          <div [class.hidden]="!ACTION_CONFIG_FLAGS[form.value.type].hasTypeSettings" class="column">
            <mat-form-field *ngIf="false">
              <input autocomplete="off"
                     formControlName="clipLength"
                     matInput
                     placeholder="Media Length"
                     type="number"
              />
              <span matSuffix>ms</span>
            </mat-form-field>

            <div [class.hidden]="!ACTION_CONFIG_FLAGS[form.value.type].hasPathSelection" class="">
              <mat-button-toggle-group #mediaPathType="matButtonToggleGroup"
                                       [class.hidden]="form.value.type === ActionType.IFrame"
                                       [value]="(!form.value.path || form.value.path?.includes('{$SERVER_URL}')) && form.value.type !== ActionType.IFrame  ? 'media' : 'custom'"
                                       style="margin-right: 1rem">
                <mat-button-toggle
                  value="media">Media
                </mat-button-toggle>
                <mat-button-toggle value="custom">Url</mat-button-toggle>
              </mat-button-toggle-group>

              <mat-form-field *ngIf="mediaPathType.value === 'media' && availableMediaFiles$ | async as mediaFiles">
                <mat-label>Local Media</mat-label>
                <mat-select (valueChange)="onLocalMediaSelected($event, mediaFiles)"
                            [formControl]="localMediaFormCtrl"
                            [value]="form.value.path"
                >
                  <mat-option *ngFor="let file of mediaFiles" [value]="file.apiUrl">
                    <div [matTooltip]="file.fullPath"> {{ file.fileName }}</div>
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="form.controls['path'].hasError('required')">
                  You need to select a file.
                </mat-error>
              </mat-form-field>

              <div [class.hidden]="mediaPathType.value !== 'custom'"
                   class="form-field-row">
                <mat-form-field>
                  <mat-label>URL</mat-label>
                  <input #mediaPathInput
                         [required]="ACTION_CONFIG_FLAGS[form.value.type].hasPathSelection"
                         autocomplete="off" formControlName="path"
                         matInput
                         type="text"
                  />

                  <mat-error *ngIf="form.controls['path'].hasError('required')">
                    You need to enter the URL.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div *ngIf="ACTION_CONFIG_FLAGS[form.value.type].isVisibleAction"
                 class="form-field-row">
              <mat-form-field>
                <mat-label> {{ ACTION_CONFIG_FLAGS[form.value.type].hasRequiredPlayLength
                  ? 'Visible screen time (ms)'
                  : 'Play time on screen (ms)'}}</mat-label>
                <input [required]="ACTION_CONFIG_FLAGS[form.value.type].hasRequiredPlayLength"
                       autocomplete="off"
                       formControlName="playLength"
                       matInput min="0"
                       type="number"
                />
                <span matSuffix>ms</span>
                <mat-hint>
                  {{ ACTION_CONFIG_FLAGS[form.value.type].hasRequiredPlayLength
                  ? ACTION_TYPE_INFORMATION[form.value.type].labelFallback + ' needs to have a "Screen Time"'
                  : 'This can stay empty if you want that to be played full length'}}
                </mat-hint>
              </mat-form-field>

              <app-hint-panel [addBottomPadding]="true" style="margin-top: 0.5rem">
                How long should it be visible on screen?

                <div *ngIf="!ACTION_CONFIG_FLAGS[form.value.type].hasRequiredPlayLength">
                  <br/>
                  Media Files: if you don't enter a value, then it'll just play out the full length.
                </div>
              </app-hint-panel>
            </div>
            <ng-container *ngIf="[ActionType.Audio, ActionType.Video].includes(form.value.type)">
              <mat-label>Volume</mat-label>
              <div class="slider__row">
                <mat-slider #volumeSlider
                            [max]="100"
                            [min]="0"
                            [step]="1"
                            formControlName="volumeSetting"
                >
                </mat-slider>
                <div class="volume__label">
                  {{ volumeSlider.value }}
                </div>
              </div>

              <mat-label>Volume Gain</mat-label>
              <div class="slider__row">
                <mat-slider #gainSlider
                            [max]="300"
                            [min]="0"
                            [step]="1"
                            formControlName="gainSetting"
                >
                </mat-slider>
                <div class="volume__label">
                  {{ gainSlider.value }}
                </div>
              </div>

              <app-hint-panel [addBottomPadding]="true" style="margin-top: 0.5rem">
                The Gain is only applied in the Preview Screen / in OBS.
              </app-hint-panel>
            </ng-container>
            <div *ngIf="false" class="form-field-row">
              <mat-form-field>
                <input autocomplete="off"
                       formControlName="previewUrl"
                       matInput
                       placeholder="Preview URL"
                       type="text"
                />
              </mat-form-field>
            </div>

            <ng-container *ngIf="[ActionType.Widget, ActionType.Script, ActionType.PermanentScript].includes(form.value.type)" >
              <h3>Override Variables:</h3>

              <ng-container *ngIf="form.value.type === ActionType.Widget">
                <ng-container *ngIf="currentHtmlToPreview$ | async as currentHtml">
                  <i *ngIf="currentHtml?.variablesConfig?.length === 0">No variables configured</i>
                  <app-action-variables-assignments (dataChanged)="actionToEdit.extended = $event; triggerHTMLRefresh()"
                                                    [data]="actionToEdit.extended"
                                                    [variablesConfig]="currentHtml?.variablesConfig">

                  </app-action-variables-assignments>
                </ng-container>
              </ng-container>

              <ng-container *ngIf="currentScript?.variablesConfig">
                <i *ngIf="currentScript?.variablesConfig.length === 0">No variables configured</i>

                <app-action-variables-assignments (dataChanged)="actionToEdit.extended = $event"
                                                  [data]="actionToEdit.extended"
                                                  [variablesConfig]="currentScript?.variablesConfig">

                </app-action-variables-assignments>
              </ng-container>

            </ng-container>
          </div>
          <!-- Preview of a Media -->
          <div [class.custom-html-preview]="[ActionType.Widget, ActionType.WidgetTemplate].includes(form.value.type)"
               [class.script]="[ActionType.Script, ActionType.PermanentScript].includes(form.value.type)" [formGroup]="form"
               [ngSwitch]="form.value.type"
               class="column"
          >
            <div *ngIf="ACTION_CONFIG_FLAGS[form.value.type].showImportExportPanel"
                 class="two-columns">
              <div class="column">
                <div *ngIf="[ActionType.Script, ActionType.PermanentScript].includes(form.value.type)">
                  <button (click)="editScript()" color="primary" mat-raised-button>
                    Edit Script + Config
                  </button>
                </div>

                <dynamic-portal key="importExportPanelLeft">
                </dynamic-portal>
              </div>

              <div class="import-export-panel column">
                <button mat-raised-button (click)="exportAction()" color="accent">Export</button>
                <button mat-raised-button (click)="fileSelection.click()" color="warn">Import</button>
                <input type="file" style="display: none"
                       #fileSelection accept="text/markdown"
                       (change)="onFileInputChanged($event)">
              </div>
            </div>

            <div *ngSwitchCase="ActionType.Widget" class="custom-html-holder">
              <mat-select #fromTemplateSelect (valueChange)="onTemplateChanged($event)"
                          formControlName="fromTemplate">
                <mat-option value="">No Template</mat-option>
                <mat-option *ngFor="let template of widgetTemplates$ | async"
                            [value]="template.id">{{template.name}}</mat-option>
              </mat-select>

              <ng-template dynamicPortalSource="importExportPanelLeft">
                <button (click)="editHTML()" *ngIf="fromTemplateSelect.value === ''" color="primary"
                        mat-raised-button>
                  Edit HTML
                </button>
              </ng-template>

              <ng-container *ngIf="currentHtmlToPreview$ | async as currentHtml">

                <app-dynamic-iframe #dynamicIframeComponent [content]="currentHtml"
                                    [mediaId]="actionToEdit.id" class="preview-box">

                </app-dynamic-iframe>


                <mat-expansion-panel [expanded]="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Widget State
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  {{ dynamicIframeComponent.WidgetApi?.store.state$ | async | json }}
                </mat-expansion-panel>
              </ng-container>
            </div>


            <div *ngSwitchCase="ActionType.WidgetTemplate" class="custom-html-holder">
              <ng-template dynamicPortalSource="importExportPanelLeft">
                <button (click)="editHTML()" color="primary" mat-raised-button>Edit HTML</button>
              </ng-template>

              <ng-container *ngIf="currentHtmlToPreview$ | async as currentHtml">


                <app-dynamic-iframe #dynamicIframeComponent [content]="currentHtml"
                                    [mediaId]="actionToEdit.id" class="preview-box">

                </app-dynamic-iframe>

                <mat-expansion-panel [expanded]="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Widget State
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  {{ dynamicIframeComponent.WidgetApi?.store.state$ | async | json }}
                </mat-expansion-panel>

              </ng-container>
            </div>

            <div *ngSwitchCase="ActionType.Script">
              <script-readonly-view [scriptObject]="currentScript">
              </script-readonly-view>
            </div>

            <div *ngSwitchCase="ActionType.PermanentScript">
              <script-readonly-view [scriptObject]="currentScript">
              </script-readonly-view>
            </div>

            <div *ngSwitchCase="ActionType.Video">

              <div *ngIf="mediaPathInput.value">
                <video #videoElement (loadeddata)="onVideoLoaded($event, videoElement)" [src]="mediaPathInput.value | mediaPathToUrl" [volume]="form.value.volumeSetting / 100"
                       controls
                       crossorigin="anonymous"
                       height="240" width="320">
                  Your browser does not support the video tag.
                  <app-action-type [type]="actionToEdit?.type"></app-action-type>
                </video>

                <button (click)="makeScreenshot(videoElement)"
                        mat-raised-button>
                  Set current video position as screenshot
                </button>
              </div>
            </div>

            <div *ngSwitchCase="ActionType.Audio">

              <div *ngIf="mediaPathInput.value">
                <audio [src]="mediaPathInput.value | mediaPathToUrl"
                       [volume]="form.value.volumeSetting / 100"
                       controls crossorigin="anonymous">
              Your browser does not support the audio tag.
              <app-action-type [type]="actionToEdit?.type"></app-action-type>
            </audio>
          </div>
        </div>

        <div *ngSwitchCase="ActionType.Recipe" >
          <ng-template dynamicPortalSource="importExportPanelLeft">
            <mat-tab-group style="height: 50px"
                           mat-stretch-tabs
                           (selectedIndexChange)="selectedRecipeTabIndex = $event">
              <mat-tab label="Recipe" ></mat-tab>
              <mat-tab label="Generated Script-Code"></mat-tab>
            </mat-tab-group>
          </ng-template>

          <app-recipe-block recipeContext #recipeContext="recipeContext"
                            [class.hidden]="selectedRecipeTabIndex !== 0"
                            [recipe]="actionToEdit.recipe"
                            (stateUpdated$)="actionToEdit.recipe = $event"
                            [asBlock]="true" [isRoot]="true"
                            [editMode]="true">
          </app-recipe-block>

          <ng-container *ngIf="selectedRecipeTabIndex !== 0 && recipeContext.userData !== null">
            <pre [highlight]="toScriptCode(recipeContext.recipe, recipeContext.userData)"
                 lang="js" class="pre-wrap-break"></pre>

          </ng-container>
        </div>

        <!-- All others => AppClipType -->
        <gewd-auto-scale *ngSwitchDefault [height]="500"
                             class="preview-box"
                             width="100%">
              <app-action-preview [action]="form.value"
                                  [useOldPathEndpoint]="true">

              </app-action-preview>
            </gewd-auto-scale>

          </div>
        </div>
      </lib-step>

      <lib-step label="Description">
        <mat-form-field class="example-chip-list">
          <mat-label>Description</mat-label>

          <textarea [rows]="12" formControlName="description"
                    matInput></textarea>
        </mat-form-field>
      </lib-step>

      <lib-step label="Other Settings">

        <mat-checkbox (change)="showOnMobile = $event.checked"
                      [checked]="showOnMobile"
                      class="mobile-checkbox">
          Visible on Mobile View
        </mat-checkbox>

        <app-hint-panel [addBottomPadding]="true" style="margin-top: 1rem">
          If this action should be visible on the mobile view.
        </app-hint-panel>

        <div class="form-field-row">
          <!-- extract both Tag Assignment Components -->
          <mat-form-field class="example-chip-list">
            <mat-label>Assign a new tag...</mat-label>
            <mat-chip-list #chipList aria-label="Tag selection">
              <mat-chip
                (removed)="removeTag(tag)"
                *ngFor="let tag of currentTags$ | async"
                [removable]="true"
                [selectable]="false">
                {{tag.name}}
                <mat-icon matChipRemove svgIcon="cancel"></mat-icon>
              </mat-chip>
              <input
                #tagInput
                (blur)="enterNewTag({input: tagInput, value: tagInput.value})"
                (matChipInputTokenEnd)="enterNewTag($event)"
                [formControl]="tagFormCtrl"
                [matAutocomplete]="tagAutoComplete"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
            </mat-chip-list>
            <mat-autocomplete #tagAutoComplete="matAutocomplete" (optionSelected)="selectedNewTag($event)">
              <mat-option *ngFor="let tag of filteredTags$ | async"
                          [value]="tag">
                {{tag.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div *ngIf="ACTION_CONFIG_FLAGS[form.value.type].canSelectQueue" class="form-field-row">
          <mat-form-field class="example-chip-list">
            <mat-label>Select Queue</mat-label>
            <input
              [matAutocomplete]="queueAutocomplete"
              formControlName="queueName"
              matInput>
            <mat-autocomplete #queueAutocomplete="matAutocomplete"
                              (optionSelected)="selectedNewQueue($event)">
              <mat-option *ngFor="let queue of allQueueNames$ | async"
                          [value]="queue">
                {{queue}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <app-hint-panel [addBottomPadding]="true" style="margin-top: 1rem">
            You can select a custom queue so that your actions have to wait before a previous one is done.
            <br/>
            <br/>
            If you don't select a queue, then visible Media (Images, Videos etc) will still have their own queue, <br/>
            which means each Media can be visible only at once at each assigned screen.
          </app-hint-panel>
        </div>

      </lib-step>
    </lib-stepper-content>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="two-columns">
  <div class="column">
    <app-open-feedback-button [feedbackTarget]="'Action Edit Dialog - ' + ACTION_TYPE_INFORMATION[actionToEdit?.type]?.labelFallback"></app-open-feedback-button>
  </div>
  <div align="end" class="column">
    <button mat-button mat-dialog-close>Cancel</button>
    <button (click)="save()"
            color="accent"
            mat-raised-button>{{ actionToEdit?.id ? 'Update' : 'Add' }}</button>
  </div>
</mat-dialog-actions>
