<div class="settings">
  <mat-card>
    <div class="title-row">
      <h2 class="mat-h2 title-name">Media folder</h2>
      <mat-icon svgIcon="folder"></mat-icon>
    </div>

    <p class="media-folder-name">{{ (config$ | async).mediaFolder}}</p>

    <div class="action-buttons">
      <button (click)="openMediaFolderExplorer()" color="accent"
              mat-raised-button>
        <mat-icon svgIcon="launch"></mat-icon>
        Open Media Folder
      </button>
      <button (click)="openMediaFolderDialog()" color="primary"
              mat-raised-button>
        <mat-icon svgIcon="edit"></mat-icon>
        Change Media Folder
      </button>
    </div>
  </mat-card>

</div>
