.title-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.title-name {
  margin-bottom: 0;
}

.media-folder-name {
  font-style: italic;
  margin-bottom: 2rem;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  button {
    width: 100%;
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.explanation {
  margin-bottom: 1rem;
}
