<div class="title-row">
  <h2 class="mat-h2 title-name">Twitch Channel Name</h2>

  <mat-icon svgIcon="twitch"></mat-icon>
</div>

<div>
  <form [formGroup]="form">


    <mat-form-field>
      <mat-label>Channel-Name</mat-label>
      <input autocomplete="off" [readonly]="!editMode"
             formControlName="name" (keyup.enter)="save()"
             class="twitchSetting__input"
             matInput required>

      <mat-error *ngIf="form.controls['name'].hasError('required')">
        Please enter your Twitch channel name
      </mat-error>

      <button (click)="toggleOrSave()" matSuffix
              color="primary"
              class="twitchSetting__button"
              mat-raised-button>{{editMode ? 'Update' : 'Edit'}}</button>

    </mat-form-field>

    <div class="explanation">
      If you want to trigger media clips on Twitch-Events, then you need to provide a Channel-Name in order subscribe to
      these events.
    </div>

    <ng-container *ngIf="showAdvancedOptions">
      <ng-container *ngIf="config$ | async as config">
        <br />
        <mat-checkbox [checked]="config?.twitch?.enableLog" (change)="onCheckboxChanged($event, config)">Enable Twitch LOG
        </mat-checkbox>
        <br />
        <br />
        <mat-checkbox [checked]="config?.twitch?.bot?.enabled" (change)="onBotIntegrationChanged($event, config)">Enable Bot Integration
        </mat-checkbox>
        <br />
      </ng-container>
    </ng-container>
  </form>
</div>
