<h2 mat-dialog-title> {{ data.id ? 'Update ' : 'Add ' }} a Screen </h2>
<mat-dialog-content class="mat-typography">

<form [formGroup]="form">

<div class="example-container">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput
           autocomplete="off"
           formControlName="name">
  </mat-form-field>


</div>
</form>
</mat-dialog-content>



<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button (click)="save()"
          color="primary"
          cdkFocusInitial>{{ data.id ? 'Update' : 'Add' }}</button>
</mat-dialog-actions>

