<h2 mat-dialog-title> {{ data.id ? 'Update ' : 'Add ' }} a Screen </h2>
<mat-dialog-content class="mat-typography">

  <form [formGroup]="form">

    <div class="form-control">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input autocomplete="off"
               formControlName="name"
               matInput required>

        <mat-error *ngIf="form.controls['name'].hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>


    </div>

    <div class="form-control textarea">
      <mat-form-field appearance="outline">
        <mat-label>Custom CSS</mat-label>
        <textarea autocomplete="off"
               formControlName="customCss"
               matInput >
        </textarea>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button (click)="save()" cdkFocusInitial
          color="primary"
          mat-raised-button>{{ data.id ? 'Update' : 'Add' }}</button>
</mat-dialog-actions>

