
// https://stackoverflow.com/a/47497820
// https://flatuicolors.com/palette/se

:host {
  width: 100%;
  max-width: 800px;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
}

.colorBlocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.colorBlocks__block {
  height: 100px;
  display: flex;
  font-family: Barlow, sans-serif;
  font-size: 12px;
  padding: 5px;
}










