
//https://stackoverflow.com/a/47497820

:host {
  width: 100%;
  max-width: 800px;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
}

.colorBlocks {
  display: flex;
  justify-content: space-between;
  background-color: #073B4C;
}

.colorBlocks__block {
  width: 100px;
  height: 100px;
}

.colorBlocks__block--primary {
  background-color:  #118AB2;
}

.colorBlocks__block--primaryContrast {
  background-color: #FFD166;
 }

//positive
.colorBlocks__block--accent {
  background-color: #06D6A0;
 }

.colorBlocks__block--warn {
  background-color: #EF476F;
 }

.colorBlocks__block--background {
  background-color: #073B4C;
 }
.colorBlocks__block--foreground {
  background-color: #ffffff;
 }

.textHolder {
  background-color: #073B4C;
}

h1 {
  color: #ffffff;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
  font-family: Barlow, sans-serif;
}

p {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 400;
  font-family: Barlow, sans-serif;
}











