.twitchSetting__input[readonly] {
  opacity: 0.3;
}

.twitchSetting__button {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.mat-form-field {
  display: block;
}

.twitchSetting__input[readonly] {
  opacity: 0.3;
}

.twitchSetting__button {
  margin-top: 2rem;
}

.mat-form-field {
  display: block;
}

:host ::ng-deep .mat-tab-body-wrapper {
  margin-top: 1.5rem;
}

:host {
  display: block;
  min-height: 465px;
}


.twitchSetting__textarea {
  min-height: 7rem;
}

:host ::ng-deep mat-tab-body {
  min-height: 260px;
}

.twitchSetting__token-button {
  margin-bottom: 1rem;
}
