<div class="arrange-buffer-area" style="display: flex;">
  <div>
    <div class="arrange-label">Global options</div>

    <mat-button-toggle-group class="arrange-global-actions"
                             aria-label="Actions for selected media file"
                             multiple
                             [formControl]="globalActionsForm"
    >
      <mat-button-toggle [value]="GlobalArrangeOptions.Drag"
                         [disabled]="!isDragEnabled"
      >
        Drag
      </mat-button-toggle>

      <mat-button-toggle [value]="GlobalArrangeOptions.Rotate"
                         [disabled]="!isRotateEnabled"
      >
        Rotate
      </mat-button-toggle>

      <!--      TODO: Find solution/control to show user it can only be resize OR warp.-->
      <mat-button-toggle [value]="GlobalArrangeOptions.Resize"
                         [disabled]="!isResizeEnabled"
      >
        Resize
      </mat-button-toggle>

      <mat-button-toggle [value]="GlobalArrangeOptions.Warp"
                         [disabled]="!isWarpEnabled"
      >
        Warp
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="arrange-selection-actions-container" [class.clip-is-selected]="currentSelectedClip">
    <div class="arrange-label">Selection options</div>

    <div class="arrange-selection-actions">
      <mat-form-field appearance="fill">
        <mat-label>Size</mat-label>
        <mat-select
          [value]="currentSelectedClip ? (currentSelectedClip?.clipSetting | settingsToSizingType) : undefined"
          [disabled]="currentSelectedClip == null"
          (valueChange)="sizeOptionChanged($event)"
          placeholder="Size"
        >
          <mat-option value="px">px</mat-option>
          <mat-option value="%">%</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-divider [vertical]="true"></mat-divider>

      <mat-form-field appearance="fill">
        <mat-label>Media Position</mat-label>
        <mat-select [value]="currentSelectedClip?.clipSetting?.position"
                    [disabled]="currentSelectedClip == null"
                    (valueChange)="positionOptionChanged($event)"
                    placeholder="Media Position"
        >
          <mat-option [value]="PositionEnum.FullScreen">{{PositionEnum.FullScreen | positionToString}}</mat-option>
          <mat-option [value]="PositionEnum.Absolute">{{PositionEnum.Absolute | positionToString}}</mat-option>
          <mat-option [value]="PositionEnum.Centered">{{PositionEnum.Centered | positionToString}}</mat-option>
          <mat-option [value]="PositionEnum.Random">{{PositionEnum.Random | positionToString}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div>
    <div class="arrange-label">Actions</div>

    <div class="arrange-actions">
      <button mat-button
              color="primary"
              aria-label="Apply change for selected media"
              matTooltip="Apply change for selected media"
              [disabled]="currentSelectedClip == null || !unsavedChangesIds.includes(currentSelectedClip.clip.id)"
              (click)="applySingleChanges()"
      >
        <mat-icon svgIcon="check"></mat-icon>
      </button>

      <mat-divider [vertical]="true"></mat-divider>

      <button mat-button (click)="applyAllchanges()"
              color="primary"
              aria-label="Apply changes for all changed medias"
              matTooltip="Apply changes for all changed medias"
              [disabled]="unsavedChangesIds.length === 0"
      >
        <mat-icon svgIcon="check-all"></mat-icon>
      </button>

      <mat-divider [vertical]="true"></mat-divider>

      <button mat-button
              color="warn"
              aria-label="Reset changes for selected media"
              matTooltip="Reset changes for selected media"
              [disabled]="currentSelectedClip == null || !unsavedChangesIds.includes(currentSelectedClip.clip.id)"
              (click)="reset()"
      >
        <mat-icon svgIcon="cancel2"></mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="drag-drop-area-holder" #holdingElement>

  <gewd-auto-scale [width]="holdingElement.clientWidth"
                   [height]="holdingElement.clientHeight"

  >
    <div class="drag-drop-area" (click)="clickedOutside()"
         [style.width.px]="screen?.width || 1920"
         [style.height.px]="screen?.height || 1080"
    >
      <ng-container *ngFor="let pair of visibleItems; trackBy: trackByClip">
        <!-- improve the duplicate settings -->
        <app-clip-preview *ngIf="pair.clipSetting.position === PositionEnum.FullScreen"
                          [clip]="pair.clip"
                          [style.z-index]="pair === currentSelectedClip ? 10000 : pair.clipSetting.zIndex"
                          [style.position]="'absolute'"
                          draggable="false"
                          class="preview-box"></app-clip-preview>

        <app-drag-resize-media *ngIf="pair.clipSetting.position === PositionEnum.Centered"
                               [clip]="pair.clip"
                               [style.z-index]="pair === currentSelectedClip ? 10000 : pair.clipSetting.zIndex"
                               [screen]="screen"
                               [sizeType]="sizeSelection"
                               [showResizeBorder]="pair === currentSelectedClip"
                               [settings]="pair.clipSetting" #dragResizeMediaComponent
                               (elementClicked)="elementClicked(dragResizeMediaComponent, pair)"
                               (elementChanged)="userChangedElement()"
                               (inputApplied)="elementCreated(dragResizeMediaComponent, pair)"

                               transformOrigin="center center"
                               [draggingEnabled]="false"
                               [resizeEnabled]="isResizeSet"
                               [rotateEnabled]="isRotateSet"
                               [warpEnabled]="isWarpSet"
                               class="preview-box"
        >

        </app-drag-resize-media>

        <app-drag-resize-media *ngIf="pair.clipSetting.position === PositionEnum.Random"
                               [clip]="pair.clip"
                               [style.z-index]="pair === currentSelectedClip ? 10000 : pair.clipSetting.zIndex"
                               [screen]="screen"
                               [sizeType]="sizeSelection"
                               [showResizeBorder]="pair === currentSelectedClip"
                               [settings]="pair.clipSetting" #dragResizeMediaComponent
                               (elementClicked)="elementClicked(dragResizeMediaComponent, pair)"
                               (inputApplied)="elementCreated(dragResizeMediaComponent, pair)"
                               (elementChanged)="userChangedElement()"
                               [draggingEnabled]="false"
                               [resizeEnabled]="isResizeSet"
                               [rotateEnabled]="isRotateSet"
                               [warpEnabled]="isWarpSet"
                               class="preview-box"
        >

        </app-drag-resize-media>

        <app-drag-resize-media
          *ngIf="pair.clipSetting.position === PositionEnum.Absolute"
          [clip]="pair.clip"
          [screen]="screen"
          [sizeType]="sizeSelection"
          [style.z-index]="pair === currentSelectedClip ? 10000 : pair.clipSetting.zIndex"
          [showResizeBorder]="pair === currentSelectedClip"
          (elementClicked)="elementClicked(dragResizeMediaComponent, pair)"
          [settings]="pair.clipSetting" #dragResizeMediaComponent
          (inputApplied)="elementCreated(dragResizeMediaComponent, pair)"
          (elementChanged)="userChangedElement()"

          [draggingEnabled]="isDragSet"
          [resizeEnabled]="isResizeSet"
          [rotateEnabled]="isRotateSet"
          [warpEnabled]="isWarpSet"

          class="preview-box"
        >

        </app-drag-resize-media>
      </ng-container>
    </div>

  </gewd-auto-scale>

</div>

