<div class="arrange-buffer-area" style="display: flex;">
  <div class="arrange-global-actions-container">
    <div class="arrange-label">Global options</div>

    <mat-button-toggle-group class="arrange-global-actions"
                             aria-label="Actions for selected media file"
                             multiple
                             [formControl]="globalActionsForm"
    >
      <mat-button-toggle [value]="GlobalArrangeOptions.Drag"
                         [disabled]="currentSelectedClip?.clipSetting.arrangeLock?.position"
      >
        Drag
      </mat-button-toggle>

      <mat-button-toggle [value]="GlobalArrangeOptions.Resize"
                         [disabled]="currentSelectedClip?.clipSetting.arrangeLock?.size"
      >
        Resize
      </mat-button-toggle>

      <mat-button-toggle [value]="GlobalArrangeOptions.Rotate"
                         [disabled]="currentSelectedClip?.clipSetting.arrangeLock?.transform"
      >
        Rotate
      </mat-button-toggle>

      <mat-button-toggle [value]="GlobalArrangeOptions.Warp"
                         [disabled]="currentSelectedClip?.clipSetting.arrangeLock?.transform"
      >
        Warp
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div *ngIf="currentSelectedClip" class="arrange-selection-actions-container">
    <div class="arrange-label">Selection options</div>

    <div class="arrange-selection-actions">
      <mat-form-field appearance="fill">
        <mat-label>Size</mat-label>
        <mat-select [value]="currentSelectedClip?.clipSetting | settingsToSizingType"
                    (valueChange)="sizeOptionChanged($event)"
                    placeholder="Size"
        >
          <mat-option value="px">px</mat-option>
          <mat-option value="%">%</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="currentSelectedClip" appearance="fill">
        <mat-label>Media Position</mat-label>
        <mat-select (selectionChange)="triggerChangedetection()"
                    [(value)]="currentSelectedClip.clipSetting.position"
                    placeholder="Media Position">
          <mat-option [value]="0">{{0 | positionToString}}</mat-option>
          <mat-option [value]="1">{{1 | positionToString}}</mat-option>
          <mat-option [value]="2">{{2 | positionToString}}</mat-option>
          <mat-option [value]="3">{{3 | positionToString}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="drag-drop-area-holder" #holdingElement>

  <gewd-auto-scale [width]="holdingElement.clientWidth"
                   [height]="holdingElement.clientHeight"

  >
    <div class="drag-drop-area" (click)="clickedOutside()"
         [style.width.px]="screen?.width || 1920"
         [style.height.px]="screen?.height || 1080"
    >
      <ng-container *ngFor="let pair of visibleItems; trackBy: trackByClip">
        <!-- improve the duplicate settings -->
        <app-clip-preview *ngIf="pair.clipSetting.position === PositionEnum.FullScreen"
                          [clip]="pair.clip"
                          [style.z-index]="pair === currentSelectedClip ? 10000 : pair.clipSetting.zIndex"
                          [style.position]="'absolute'"
                          draggable="false"
                          class="preview-box"></app-clip-preview>

        <app-drag-resize-media *ngIf="pair.clipSetting.position === PositionEnum.Centered"
                               [clip]="pair.clip"
                               [style.z-index]="pair === currentSelectedClip ? 10000 : pair.clipSetting.zIndex"
                               [screen]="screen"
                               [sizeType]="sizeSelection"
                               [showResizeBorder]="pair === currentSelectedClip"
                               [settings]="pair.clipSetting" #dragResizeMediaComponent
                               (elementClicked)="elementClicked(dragResizeMediaComponent, pair)"
                               (inputApplied)="elementCreated(dragResizeMediaComponent, pair)"

                               transformOrigin="center center"
                               [draggingEnabled]="false"
                               [resizeEnabled]="isResizeEnabled"
                               [rotateEnabled]="isRotateEnabled"
                               [warpEnabled]="isWarpEnabled"
                               class="preview-box"
        >

        </app-drag-resize-media>

        <app-drag-resize-media *ngIf="pair.clipSetting.position === PositionEnum.Random"
                               [clip]="pair.clip"
                               [style.z-index]="pair === currentSelectedClip ? 10000 : pair.clipSetting.zIndex"
                               [screen]="screen"
                               [sizeType]="sizeSelection"
                               [showResizeBorder]="pair === currentSelectedClip"
                               [settings]="pair.clipSetting" #dragResizeMediaComponent
                               (elementClicked)="elementClicked(dragResizeMediaComponent, pair)"
                               (inputApplied)="elementCreated(dragResizeMediaComponent, pair)"
                               [draggingEnabled]="false"
                               [resizeEnabled]="isResizeEnabled"
                               [rotateEnabled]="isRotateEnabled"
                               [warpEnabled]="isWarpEnabled"
                               class="preview-box"
        >

        </app-drag-resize-media>

        <app-drag-resize-media
          *ngIf="pair.clipSetting.position === PositionEnum.Absolute"
          [clip]="pair.clip"
          [screen]="screen"
          [sizeType]="sizeSelection"
          [style.z-index]="pair === currentSelectedClip ? 10000 : pair.clipSetting.zIndex"
          [showResizeBorder]="pair === currentSelectedClip"
          (elementClicked)="elementClicked(dragResizeMediaComponent, pair)"
          [settings]="pair.clipSetting" #dragResizeMediaComponent
          (inputApplied)="elementCreated(dragResizeMediaComponent, pair)"
          (elementChanged)="userChangedElement()"

          [draggingEnabled]="isDragEnabled"
          [resizeEnabled]="isResizeEnabled"
          [rotateEnabled]="isRotateEnabled"
          [warpEnabled]="isWarpEnabled"

          class="preview-box"
        >

        </app-drag-resize-media>
      </ng-container>
    </div>

  </gewd-auto-scale>

</div>


<!--<div class="dragging-config">-->
<!--  <div class="spacer" *ngIf="!currentSelectedClip"></div>-->
<!--  <div class="inline" [class.hidden]="!currentSelectedClip">-->
<!--    <h2>-->
<!--      Drag / Arrange Options-->
<!--    </h2>-->
<!--    <div>-->

<!--    <button mat-raised-button (click)="reset()" color="warn">-->
<!--      Reset-->
<!--    </button>-->

<!--  </div>-->
<!--</div>-->
