:host {
  flex: 1;

  display: flex;
  flex-direction: column;
  position: relative;


  // Change the default background colors of the actions
  .arrange-actions > button,
  ::ng-deep .arrange-selection-actions .mat-form-field-appearance-fill .mat-form-field-flex,
  ::ng-deep .mat-button-toggle.mat-button-toggle-appearance-standard,
  ::ng-deep .mat-button-toggle-disabled .mat-button-toggle-button {
    background-color: var(--palette-background-background);
  }


  .arrange-global-actions {
    // Change default style of disabled toggle-button
    ::ng-deep .mat-button-toggle-disabled .mat-button-toggle-button {
      opacity: 0.3;
    }

    // Change the default color of the toggle button to our primary
    ::ng-deep .mat-button-toggle-checked:not(.mat-button-toggle-disabled) {
      background-color: rgba(var(--palette-accent-500), 1);
    }
  }

  .arrange-selection-actions {
    display: flex;

    // Highlight the field when you hover over it
    ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex:hover {
      background-color: rgba(255, 255, 255, 0.07);
    }

    // Vertically align the mat-input-fields because we don't need the error/hint line below the actual input
    ::ng-deep .mat-form-field-wrapper {
      position: relative;
      top: -6px;
    }
  }

}

.dragging-config {
  display: flex;
  flex-direction: row;
  height: 4rem;

  .spacer {
    min-height: 4rem;
  }
}

.inline {
  display: flex;
  flex-direction: row;
  min-height: 4rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: #444;
  padding-right: 1rem;
  padding-left: 1rem;

  mat-checkbox {
    margin-left: 1rem;
  }
}


.drag-drop-area-holder {
  flex: 1;
  min-height: 0;
}


.drag-drop-area {
  position: relative;
  overflow: hidden;

  background: repeating-conic-gradient(#808080 0% 25%, transparent 0% 50%) 50% / 50px 50px;
}


.arrange-global-actions, .arrange-selection-actions, .arrange-actions {
  border: 1px solid #FFFFFF;
  border-radius: 4px;

  height: 50px;
  overflow: hidden;
}

.arrange-buffer-area {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  & > div:not(:last-child) {
    margin-right: 1rem;
  }
}

.arrange-actions {
  display: flex;
}
