:host {
  flex: 1;

  display: flex;
  flex-direction: column;
  position: relative;
}

.dragging-config {
  display: flex;
  flex-direction: row;
  height: 4rem;

  .spacer {
    min-height: 4rem;
  }
}

.inline {
  display: flex;
  flex-direction: row;
  min-height: 4rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: #444;
  padding-right: 1rem;
  padding-left: 1rem;

  mat-checkbox {
    margin-left: 1rem;
  }
}


.drag-drop-area-holder {
  flex: 1;
  min-height: 0;
}


.drag-drop-area {
  position: relative;
  overflow: hidden;

  background: repeating-conic-gradient(#808080 0% 25%, transparent 0% 50%) 50% / 50px 50px;
}


.arrange-global-actions, .arrange-selection-actions {
  border: 1px solid #FFFFFF;
  border-radius: 4px;
}

.arrange-selection-actions-container {
  margin-left: 2rem;
}

.arrange-selection-actions {
  display: flex;
  height: 50px;
  overflow: hidden;

  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex:hover {
    background-color: rgba(255, 255, 255, 0.07);
  }

  ::ng-deep .mat-form-field-wrapper {
    position: relative;
    top: -4px;
  }

  .mat-form-field:not(:first-child) {
    margin-left: 2px;
  }
}

.arrange-buffer-area {
  display: flex;
  height: 76px;
  overflow: hidden;
}
