<form [formGroup]="customHTMLForm" class="padding" >
  <mat-form-field>
    <mat-label>CSS</mat-label>

    <gewd-custom-form-control formControlName="css"
                              #customFormControlCss
    >
      <gewd-prism-editor [value]="customFormControlCss.value"
                         language="css"
                         [debounceTime]="450"
                         [style.--editor-min-height.px]="200"
                         (value$)="customFormControlCss.value = $event"
                         (focussed$)="customFormControlCss.focused = $event">
      </gewd-prism-editor>
    </gewd-custom-form-control>
  </mat-form-field>

  <mat-form-field>
    <mat-label>HTML</mat-label>

    <gewd-custom-form-control formControlName="html"
                              #customFormControlHtml
    >
      <gewd-prism-editor [value]="customFormControlHtml.value"
                         language="html"
                         [debounceTime]="450"
                         [style.--editor-min-height.px]="200"
                         (value$)="customFormControlHtml.value = $event"
                         (focussed$)="customFormControlHtml.focused = $event">
      </gewd-prism-editor>
    </gewd-custom-form-control>
  </mat-form-field>

  <mat-form-field>
    <mat-label>JS</mat-label>

    <gewd-custom-form-control formControlName="js"
                              #customFormControlJs
    >
      <gewd-prism-editor [value]="customFormControlJs.value"
                         language="js"
                         [debounceTime]="450"
                         [style.--editor-min-height.px]="200"
                         (value$)="customFormControlJs.value = $event"
                         (focussed$)="customFormControlJs.focused = $event">
      </gewd-prism-editor>
    </gewd-custom-form-control>
  </mat-form-field>
</form>

<br />

<div class="padding">
External Files:
  <button mat-icon-button (click)="addNewExternal()" color="primary">
    <mat-icon svgIcon="add"></mat-icon>
  </button>
<br/>

<div *ngFor="let externalFile of externalFiles; let index = index;"
    class="external-file-row">

  <mat-form-field>
    <mat-select [(value)]="externalFile.type"
                placeholder="Type"
                (change)="saveExternalArray()">
      <mat-option value="css">CSS</mat-option>
      <mat-option value="script">Script</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="externalFile.src"
           placeholder="Source"
           (change)="saveExternalArray()"
           autocomplete="off"/>
  </mat-form-field>

  <button mat-icon-button color="warn" (click)="deleteExternalFile(index)">
    <mat-icon svgIcon="delete"></mat-icon>
  </button>
</div>


</div>
<br/>

<div class="padding">

<h4> Iframe </h4>

<iframe #targetIframe></iframe>

</div>
