<mat-checkbox #editModeCheckbox>Edit Mode</mat-checkbox>

<app-blueprint-entry blueprintContext
                     [blueprint]="blueprint"
                     [asBlock]="true"
                     [isRoot]="true"
                     [editMode]="editModeCheckbox.checked"

                      #blueprintContextTemplate="blueprintContext">
</app-blueprint-entry>



<pre [highlight]="toScriptCode(blueprintContextTemplate.stateUpdated$ | async)"
     lang="js" class="pre-wrap-break"></pre>



<pre [highlight]="blueprintContextTemplate.stateUpdated$ | async | json"
     lang="json" class="pre-wrap-break"></pre>

