<h2 mat-dialog-title> {{ data?.id ? 'Update Media: "' + form.value.name + '"' : 'Add media' }}  </h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="form">
    <mat-form-field>
      <input autocomplete="off" formControlName="name"
             matInput
             placeholder="Name"
             required type="text">

      <mat-error *ngIf="form.controls['name'].hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>

    <div class="action-buttons">
      <button (click)="updateMediaType(MediaType.Picture)"
              [color]="form.value.type === MediaType.Picture ? 'primary' : 'accent'"
              mat-raised-button>
        <mat-icon svgIcon="insert_photo"></mat-icon>
        Image
      </button>
      <button (click)="updateMediaType(MediaType.Audio)"
              [color]="form.value.type === MediaType.Audio ? 'primary' : 'accent'"
              mat-raised-button>
        <mat-icon svgIcon="audiotrack"></mat-icon>
        Audio
      </button>
      <button (click)="updateMediaType(MediaType.Video)"
              [color]="form.value.type === MediaType.Video ? 'primary' : 'accent'"
              mat-raised-button>
        <mat-icon svgIcon="videocam"></mat-icon>
        Video
      </button>
    </div>

    <mat-form-field *ngIf="false">
      <input autocomplete="off" formControlName="clipLength"
             matInput
             placeholder="Media Length"
             type="number">
      <span matSuffix>ms</span>
    </mat-form-field>

    <div class="form-field-row">
      <mat-form-field>
        <input autocomplete="off" formControlName="path"
               matInput
               placeholder="File"
               required type="text">
        <div matSuffix>
          <mat-select (valueChange)="onChange($event)"
                      *ngIf="availableMediaFiles|async as mediaFiles">

            <mat-option *ngFor="let file of mediaFiles" [value]="file">
              {{file.fileName}}
            </mat-option>
          </mat-select>
        </div>

        <mat-error *ngIf="form.controls['path'].hasError('required')">
          You need to enter the URL or select a file.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-field-row">
      <mat-form-field>
        <input [placeholder]="form.value.type === 0 ? 'Visible screen time (ms)' : 'Play time on screen (ms)'"
               [required]="form.value.type === 0"
               autocomplete="off"
               formControlName="playLength"
               matInput
               type="number">
        <span matSuffix>ms</span>

        <mat-error *ngIf="form.controls['playLength'].hasError('required')">
          How long should it be visible on screen?
        </mat-error>
      </mat-form-field>
    </div>
    <ng-container *ngIf="form.value.type !== 0">
      <mat-label>Volume</mat-label>
      <div class="slider__row">
        <mat-slider #volumeSlider [max]="100" [min]="0" [step]="1"
                    formControlName="volumeSetting">

        </mat-slider>
        <div class="volume__label">

          {{volumeSlider.value }}
        </div>
      </div>
    </ng-container>
    <div class="form-field-row">
      <mat-form-field *ngIf="false">
        <input autocomplete="off" formControlName="previewUrl"
               matInput
               placeholder="Preview URL"
               type="text">
      </mat-form-field>
    </div>
    <img [src]="form.value.path || form.value.previewUrl">
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button (click)="save()" cdkFocusInitial
          color="accent"
          mat-raised-button>{{ data?.id ? 'Update' : 'Add' }}</button>
</mat-dialog-actions>
