:host {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
}

img {
  align-self: center;
  width: 100%;
}

.form-field-row {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  width: 100%;
}

::ng-deep .mat-form-field {
  display: block !important;
}

.slider__row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2rem;

  mat-slider {
    flex: 1;
  }

  .volume__label {
    width: 3rem;
    text-align: right;
  }
}

.action-buttons {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1rem;
  margin-bottom: 2rem;

  button {
    width: 30%;
    margin-bottom: 0.5rem;
  }
}

.hidden {
  display: none;
}

.two-columns {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 920px) {
    flex-direction: column;
  }
}

.column {
  flex: 1;

  &:last-child {
    &:not(.custom-html-preview) {
      align-self: center;
    }

    @media screen and (min-width: 920px) {
      margin-left: 1rem;
    }

    app-clip-type {
      // hacky but flex justify doesn't work.
      float: right;
    }
  }
}

.dialog-content {
  max-height: 86vh;
}

.mobile-checkbox {
  float: right;
}

.title-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.custom-html-holder {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
