<h2 mat-dialog-title> {{ data?.id ? 'Update Clip: "' + form.value.name + '"' : 'Add a clip' }}  </h2>
<mat-dialog-content class="mat-typography">
<form [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Name"
           formControlName="name"
           autocomplete="off"
           type="text" required>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Type"
                formControlName="type"
                [value]="data?.type || 0"
                #typeSelection>
      <mat-option [value]="0">Picture</mat-option>
      <mat-option [value]="1">Audio</mat-option>
      <mat-option [value]="2">Video</mat-option>
    </mat-select>
  </mat-form-field>


  <ng-container *ngIf="typeSelection.value !== 0">
    <mat-label>Volume</mat-label>
    <div class="slider__row">
    <mat-slider [min]="0" [max]="100" [step]="1" #volumeSlider
                formControlName="volumeSetting">

    </mat-slider>
      <div class="volume__label">

        {{volumeSlider.value }}
      </div>
    </div>
  </ng-container>

  <mat-form-field *ngIf="false">
    <input matInput placeholder="Clip Length"
           formControlName="clipLength"
           autocomplete="off"
           type="number">
    <span matSuffix>ms</span>
  </mat-form-field>

  <mat-form-field>
    <input matInput [placeholder]="typeSelection.value === 0 ? 'Visible Duration' : 'Play Length'"
           formControlName="playLength"
           autocomplete="off"
           type="number" required>
    <span matSuffix>ms</span>
    <mat-hint>The duration on how long it should be visible</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="URL to the File"
           formControlName="path"
           autocomplete="off"
           type="text" required>
  </mat-form-field>
  <mat-form-field *ngIf="false">
    <input matInput placeholder="Preview URL"
           formControlName="previewUrl"
           autocomplete="off"
           type="text">
  </mat-form-field>
  <img [src]="form.value.path || form.value.previewUrl">
</form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button (click)="save()"
          color="primary"
          cdkFocusInitial>{{ data?.id ? 'Update' : 'Add' }}</button>
</mat-dialog-actions>
