<ng-container *ngIf="twitchEvents$ | async as twitchEvents">
  <ng-container *ngIf="twitchEvents.length === 1">
    <button mat-icon-button (click)="onToggleTwitchEvent(twitchEvents[0].id)"
            [class.inactive]="!twitchEvents[0].active"
            [color]="twitchEvents[0].active ? 'primary' : 'warn' "
            class="twitch_icon"
            [matTooltip]="twitchEvents[0].active ? 'Disable Twitch-Command' : 'Enable Twitch-Command'">
      <mat-icon svgIcon="twitch"></mat-icon>
    </button>
  </ng-container>
  <ng-container *ngIf="twitchEvents.length > 1">
    <button mat-icon-button (click)="onlyWithOneEventPossible()"
            color="primary"
            class="twitch_icon"
            matTooltip="Multiple Twitch-Commands assigned">
      <mat-icon svgIcon="twitch"></mat-icon>
    </button>
  </ng-container>
</ng-container>

<button mat-icon-button (click)="onToggleMobileShow()"
        [color]="action.showOnMobile ? 'primary' : 'warn' "
        [matTooltip]="action.showOnMobile ? 'Hide on Mobile-View' : 'Show on Mobile-View'">
  <mat-icon [svgIcon]="action.showOnMobile ? 'mobile_friendly' : 'mobile_off'"></mat-icon>
</button>
