::ng-deep .mat-tab-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

::ng-deep .mat-tab-links-active {
  border-bottom: 0.5rem solid #00d8d6;
  opacity: 1 !important;
}
