@import '~@angular/material/theming';
@import '~angular-material-css-vars/main';
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

// optional
$mat-css-dark-theme-selector: '.isDarkTheme';
$mat-css-light-theme-selector: '.isLightTheme';

@mixin app-theme($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  // Define any styles affected by the theme.
  .app-header {
    // Use mat-color to extract individual colors from a palette.
    background-color: mat-color($primary);
    border: medium solid mat-color($accent, A400);
  }
}


// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Barlow, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

// init theme
// examples https://github.com/johannesjo/angular-material-css-vars/blob/master/src/app/app.component.scss

@include init-material-css-vars($typography-config: $custom-typography) {
  .mat-app-background {
    background-color: var(--palette-background-background);
  }
};

body {
  font-size: 16px;
  background-color: #2f3640 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

.isDarkTheme {
  .mat-card {
    background-color: #3F4855 !important;
  }

  .mat-table {
    background: transparent !important;
  }
}

.floating-action-button {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
}
