  <form [formGroup]="form">


      <mat-form-field >
        <mat-label>Account</mat-label>
        <input autocomplete="off" [readonly]="!editMode"
               formControlName="name" (keyup.enter)="save()"
               class="twitchSetting__input"
               matInput required>

        <mat-error *ngIf="form.controls['name'].hasError('required')">
          Please enter your Twitch channel name
        </mat-error>

        <button (click)="toggleOrSave()" matSuffix
                color="primary"
                class="twitchSetting__button"
                mat-raised-button>{{editMode ? 'Update' : 'Edit'}}</button>

      </mat-form-field>


  </form>

