<div class="title-row">
  <h2 class="mat-h2 title-name">Twitch Bot Config</h2>

  <mat-icon svgIcon="twitch"></mat-icon>
</div>

<div>
  <form [formGroup]="form">
    <p>To obtain the bot token, login into twitch with your bot account, click on the "Get Twitch Token" button and follow the steps in the window that opens.<br/></p>
    <p><br/><a mat-button mat-raised-button href="https://twitchapps.com/tmi/" target="_blank"><mat-icon svgIcon="launch"></mat-icon> &nbsp;Get Twitch Token</a></p>

    <ng-container *ngIf="config$ | async as config">
      <br />
      <mat-checkbox [checked]="config?.twitch?.bot" (change)="onCheckboxChangedBot($event, config)">Enable Twitch Bot integration
      </mat-checkbox>
      <br /><br />
    </ng-container>

    <mat-form-field *ngIf="config$ | async as config">
      <mat-label>Bot name</mat-label>
      <input autocomplete="off" [readonly]="!config?.twitch?.bot"
             formControlName="botName"
             class="twitchSetting__input"
             matInput required>

      <mat-error *ngIf="form.controls['botName'].hasError('required')">
        Please enter bot name
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="config$ | async as config">
      <mat-label>Bot token</mat-label>
      <input autocomplete="off" [readonly]="!config?.twitch?.bot"
             formControlName="botToken"
             class="twitchSetting__input" type="password"
             matInput required>

      <mat-error *ngIf="form.controls['botToken'].hasError('required')">
        Please enter bot oAuth token
      </mat-error>
    </mat-form-field>

    <button (click)="saveBotData()" matSuffix
            *ngIf="config$ | async as config"
            color="primary"
            class="twitchSetting__button"
            [disabled]="!config?.twitch?.bot"
            mat-raised-button>Save</button>
  </form>
</div>
