:host {
  display: flex;
  width: 100%;
  flex-direction: column;

  ::ng-deep {
    .mat-dialog-content {
      max-height: 100%;
      flex: 1;
    }
  }
}

mat-dialog-actions {
  display: flex;
}
.space {
  flex: 1;
}
