:host {
  display: flex;
  width: 100%;
  flex-direction: column;

  ::ng-deep {
    .mat-dialog-content {
      max-height: 100%;
      flex: 1;
    }
  }
}

mat-dialog-actions {
  display: flex;
}

td {
  padding: 0.5rem;
  vertical-align: top;


  ol {
    margin-left: 2rem;
  }
}

.space {
  flex: 1;
}

:host ::ng-deep {
  .mat-list-item {
    height: 100% !important; // to raise the mat-list-item height
    min-height: 48px;
  }
}


.strikethrough {
  text-decoration: line-through;
}


.full-width {
  width: 100%;
  max-width: 15rem;
}

div.explanation {
  padding-top: 1rem;
}

