::ng-deep {

  // target-screens needs to be transparent for OBS
  .mat-app-background {
    background-color: transparent !important;
  }
}

audio {
  display: none;
}

video, img, iframe {
  display: none;

  &.visible {
    display: block;
  }
}

.clip-holder {
  width: var(--clip-setting-width, 100%);
  height: var(--clip-setting-height, 100%);

  * {
    width: 100%;
    height: 100%;
  }

  &.image {
    * {
      object-fit: var(--clip-setting-img-fit, contain);
    }
  }
}

.fullscreen {
  position: absolute;
}

.absolute {
  position: absolute;
  bottom: var(--clip-setting-bottom, unset);
  right: var(--clip-setting-right, unset);
  top: var(--clip-setting-top, unset);
  left: var(--clip-setting-left, unset);
}

:host{
  .debug-name {
    display: none;
  }

  &.debug-mode {
    audio {
      display: block;
    }

    .debug-name {
      display: block;
    }

    .clip-holder {
      display: block;
      background: var(--clip-background);
    }
  }
}
