:host {
  position: relative;
}


.copy-url-area {
  background: #333;
  border: 1px solid #222222;
  border-radius: 1rem;
  padding: 1rem 3rem 1rem 1rem;

  align-self: center;

  input {
    width: 100%;
    border: 0;
    height: 1.5rem;
    background: transparent;
    color: white;
  }
}

button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
