:host {
  position: relative;
}


.copy-url-area {
  background: #333;
  margin-left: 2rem;
  border: 1px solid #222222;
  border-radius: 1rem;
  padding: 1rem 2rem 1rem 1rem;

  align-self: center;
}

button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
