
<mat-checkbox [checked]="item.active" (change)="onActiveChanged($event)"></mat-checkbox>


<b>{{item.name}}</b> - Event: <strong>{{ item.event }}</strong> -

<ng-container *ngIf="allInformations$ | async as information">

  Clip: <strong>{{ information.clip?.name }}</strong>
  <!-- Screen: <strong>{{ information.screen.name }}</strong> -->

</ng-container>


<button (click)="onDelete.emit()" color="warn" mat-icon-button>
  <mat-icon svgIcon="delete"></mat-icon>
</button>


<button (click)="onEdit.emit()" color="accent" mat-icon-button>
  <mat-icon svgIcon="edit"></mat-icon>
</button>
