:host {
  display: block;
  width: 100%;
}

.holder {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  &:not(:last-of-type) {
    margin-right: 2rem;
  }
}

h3 {
  margin-bottom: 1rem;
}

button {
  margin-bottom: 1rem;
}
