
.chipList {

}

.chipListTitle {
  margin-bottom: 1rem;
}

.chipList__chip {
  background-color: var(--palette-background-background) !important;
  color: #ffffff !important;
  pointer-events: none;

  .mat-icon {
    margin-right: 0.2rem;
  }
}
