
.chipList {

}

.chipListTitle {
  margin-bottom: 1rem;
}

.chipList__chip {
  background-color: #2f3640 !important;
  color: #ffffff !important;
  pointer-events: none;

  .mat-icon {
    margin-right: 0.2rem;
  }
}
