<h2 mat-dialog-title> {{ data.id ? 'Update ' : 'Add ' }} a Timer-Event:
  <code *ngIf="form.value.everyXms">{{form.value.everyXms}}ms</code>
</h2>
<mat-dialog-content class="mat-typography min-height-dialog">
  <div class="two-columns">
    <div class="column">
      <form [formGroup]="form">
        <div class="example-container">
          <mat-form-field appearance="outline">
            <mat-label>Trigger every MS</mat-label>
            <input autocomplete="off"
                   formControlName="everyXms"
                   placeholder="100"
                   matInput>
          </mat-form-field>
        </div>

      </form>
    </div>
    <div class="column">
      <div class="example-container">
        <h2>Select media</h2>

        <button mat-raised-button (click)="selectEventClip()"
                [class.selectClipButton]="!!form.value.clipId"
                color="accent">
          <span *ngIf="clipDictionary$ | async as clipDictionary">
            <ng-container *ngIf="form.value.clipId && clipDictionary[form.value.clipId]?.name; else notSelected">

              <app-clip-preview [clip]="clipDictionary[form.value.clipId]"
                                height="100px" width="200px"></app-clip-preview>
              {{ clipDictionary[form.value.clipId]?.name }}
            </ng-container>

            <ng-template #notSelected>
              Choose your media-clip to trigger
            </ng-template>
          </span>

          <ng-template>
            Choose
          </ng-template>
        </button>
      </div>

      <br />
    </div>
  </div>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button (click)="save()" cdkFocusInitial
          color="primary"
          mat-raised-button>{{ data.id ? 'Update Event' : 'Add Event' }}</button>
</mat-dialog-actions>

