<mat-card class="item-header-card">
  <h3 class="header">{{info.name}}</h3>

  <div class="copy-url-area">
    <code>{{info.url}}</code>
  </div>

  <div class="actions">
    <button mat-button color="primary">
      <mat-icon svgIcon="content_copy"></mat-icon>
      Copy URL
    </button>

    <button mat-icon-button color="accent"
            (click)="onEdit.emit()">
      <mat-icon svgIcon="edit"></mat-icon>
    </button>


    <button mat-icon-button color="warn"
            (click)="onDelete.emit()">
      <mat-icon svgIcon="delete"></mat-icon>
    </button>
  </div>
</mat-card>


<div class="media-list">
  <div class="media-info"
      *ngFor="let entry of clipList$ | async">

    <ng-container [ngSwitch]="entry.type">
      <mat-icon svgIcon="insert_photo" *ngSwitchCase="0"></mat-icon>
      <mat-icon svgIcon="audiotrack" *ngSwitchCase="1"></mat-icon>
      <mat-icon svgIcon="videocam" *ngSwitchCase="2"></mat-icon>
    </ng-container>

    <span class="padding">{{entry.name}}</span>
    <button matListIcon mat-icon-button color="warn"
            (click)="onDeleteAssignment.emit(entry.id)">
      <mat-icon svgIcon="delete"></mat-icon>
    </button>
  </div>
</div>
