<mat-card class="item-header-card">

  <div class="header-line bottom-spacing">
    <button mat-icon-button color="accent"
            class="small-icon"
            (click)="onEdit.emit()">
      <mat-icon svgIcon="edit"></mat-icon>
    </button>

    <h3 class="header">

      {{info.name}}
    </h3>

    <button mat-icon-button color="warn"
            class="small-icon"
            (click)="onDelete.emit()">
      <mat-icon svgIcon="delete"></mat-icon>
    </button>
  </div>



  <app-url-panel [url]="info.url" class="bottom-spacing"></app-url-panel>

  <ng-container *ngIf="clipList$ | async as clipList">
    <div class="header-line bottom-spacing">
      <h4 class="header">Clips: </h4>

      <button mat-raised-button class="button-padding"
              color="primary"
              (click)="onEditAssignments.next()">
        <mat-icon svgIcon="playlist_add"></mat-icon>
         {{ clipList.length === 0 ? 'Assign Clips' : 'Edit Clips' }}
      </button>
    </div>
    <div class="media-list">
      <table class="mat-table">
        <tr *ngFor="let entry of clipList; let even = even;"
            class="row"
            [ngClass]="{gray: even}">
          <td class="small-column">
            <app-clip-type [type]="entry.type"></app-clip-type>
          </td>
          <td>{{entry.name}}</td>

          <td class="small-column">
            <button mat-icon-button color="accent"
                    (click)="onEditScreenClipOptions.emit(entry)">
              <mat-icon svgIcon="settings"></mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </ng-container>
</mat-card>

