
.item-header-card {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}


app-url-panel {
  width: 100%;
}


.bottom-spacing {
  margin-bottom: 1.5rem;
}

.header {
  flex: 1;
}
.header-line {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;


}

button.small-icon {
  width: 2rem;
}

.media-info {
  display: flex;
  align-items: center;

  &:hover {
    background: #555555;
  }
}

.padding {
  padding-left: 1rem;
}

table {
  width: 100%;

  td {
    padding: 0.5rem;
  }
}

.gray {
  background-color: #545454
}

// TODO better naming ^^


.small-column {
  width: 50px;
}
