<mat-card class="item-header-card">
  <h3 class="header">{{info.name}}</h3>

  <app-url-panel [url]="info.url"></app-url-panel>

  <div class="actions">
    <button mat-icon-button color="accent"
            (click)="onEdit.emit()">
      <mat-icon svgIcon="edit"></mat-icon>
    </button>


    <button mat-icon-button color="warn"
            (click)="onDelete.emit()">
      <mat-icon svgIcon="delete"></mat-icon>
    </button>
  </div>
</mat-card>


<div class="media-list">
  <div class="media-info"
      *ngFor="let entry of clipList$ | async">

    <app-clip-type [type]="entry.type"></app-clip-type>

    <span class="padding">{{entry.name}}</span>
    <button matListIcon mat-icon-button color="warn"
            (click)="onDeleteAssignment.emit(entry.id)">
      <mat-icon svgIcon="delete"></mat-icon>
    </button>
  </div>
</div>
