
.item-header-card {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
}

.header {
  align-self: center;
}

app-url-panel {
  flex: 1;
}

.actions {
  width: max(20%, 200px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.media-info {
  display: flex;
  align-items: center;

  &:hover {
    background: #555555;
  }
}

.padding {
  padding-left: 1rem;
}
