<div class="info-holder">
  <div class="title-row">
    <h2 class="mat-h2 title-name">{{info.name}}</h2>
    <mat-icon svgIcon="screen"></mat-icon>
  </div>

  <label for="input-url" class="label-hidden">Screen URL</label>
  <input class="input-url" id="input-url" type="text" readonly [value]="info.url" />

  <div class="action-buttons">
    <button mat-raised-button color="accent" (click)="onEdit.emit()">
      <mat-icon svgIcon="edit"></mat-icon> Edit Name
    </button>

    <button mat-raised-button
            color="accent"
            (click)="copyURL()">
      <mat-icon svgIcon="content_copy"></mat-icon> Copy URL
    </button>

  </div>

  <ng-container *ngIf="clipList$ | async as clipList">

    <div class="action-buttons">
      <button mat-raised-button
              class="single-button"
              color="primary"
              (click)="onEditAssignments.next()">
        <mat-icon svgIcon="playlist_add"></mat-icon>
         {{ clipList.length === 0 ? 'Assign Clips' : 'Edit Clips' }}
      </button>
    </div>

    <div class="media-list">
      <table class="mat-table">
        <tr *ngFor="let entry of clipList;">
          <td>
            <app-clip-type [type]="entry.type"></app-clip-type>
          </td>
          <td>{{entry.name}}</td>
          <td>
            <button mat-icon-button color="accent"
                    (click)="onEditScreenClipOptions.emit(entry)">
              <mat-icon svgIcon="settings"></mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </ng-container>

  <button mat-stroked-button class="delete-screen" color="warn" (click)="onDelete.emit()">
    <mat-icon svgIcon="delete"></mat-icon> Delete Screen
  </button>
</div>

