<div class="infoHolder" *ngIf="info$ | async as screen">
  <div class="titleRow">
    <h2 class="mat-h2 titleName">{{screen.name}}</h2>
    <mat-icon svgIcon="screen"></mat-icon>
  </div>

  <div class="actionButtons">
    <button (click)="onGetUrl.emit()" color="accent" mat-flat-button>
      <mat-icon svgIcon="network_wifi" class="network_wifi"></mat-icon>
      Get URL
    </button>
  </div>

  <div class="actionButtons">
    <button (click)="onEdit.emit()" color="accent" mat-flat-button>
      <mat-icon svgIcon="edit"></mat-icon>
      Edit
    </button>
    <button (click)="onPreview.emit()" color="primary" mat-button
            matTooltip="Preview each Media delayed in the opened Screen">
      <mat-icon svgIcon="preview"></mat-icon>
      Preview all
    </button>
  </div>

  <ng-container *ngIf="clipList$ | async as clipList">

    <div class="actionButtons">
      <button (click)="onOpenArrangeDialog.emit()"
              class="actionButtons--single"
              color="accent"
              mat-flat-button>
        <mat-icon svgIcon="playlist_add"></mat-icon>
        Assign / arrange media
      </button>
    </div>

    <div class="mediaList">
      <table class="matTable">
        <tr *ngFor="let entry of clipList;">
          <td>
            <app-action-type [type]="entry.type"></app-action-type>
          </td>
          <td>{{entry.name}}</td>
          <td class="mediaList__settingsCell">
            <button (click)="onPreview.emit(entry.id)"
                    class="mediaList__settingsCellButton"
                    mat-icon-button>
              <mat-icon svgIcon="preview"></mat-icon>
            </button>
          </td>
          <td class="mediaList__settingsCell">
            <button (click)="onEditScreenClipOptions.emit(entry)"
                    *ngIf="entry.type !== 1"
                    class="mediaList__settingsCellButton"
                    mat-icon-button>
              <mat-icon svgIcon="settings"></mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </ng-container>
  <mat-card-actions class="matcard__actions">
    <button (click)="onReload.emit()" class="centeredScreenButton" color="primary" mat-flat-button>
      <mat-icon svgIcon="replay"></mat-icon>
      Reload Screen
    </button>
    <button (click)="onDelete.emit()" class="centeredScreenButton" color="warn" mat-flat-button>
      <mat-icon svgIcon="delete"></mat-icon>
      Delete Screen
    </button>
  </mat-card-actions>
</div>

