:host {
  width: 100%;
  display: block;
}

.infoHolder {
  display: flex;
  flex-direction: column;
}

.titleRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.titleName {
  margin-bottom: 0;
}

.formFieldRow {
  margin-bottom: 2rem;
  width: 100%;
  display: block;

  ::ng-deep .mat-form-field {
    display: block;
  }
}

.inputLabel--hidden {
  display: none;
}

.actionButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;

  button {
    width: 45%;
  }

  .actionButtons--single {
    width: 100%;
  }
}

.matTable {
  width: 100%;
}

.centeredScreenButton {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.mediaList {
  max-height: 11.2rem;
  height: 11.2rem;
  overflow-y: auto;
  margin-bottom: 2rem;
}

.mediaList__settingsCell {
  text-align: right;
}

.mediaList__settingsCellButton {
  width: 3rem;
  height: 3rem;
}

.matcard__actions {
  display: flex;
}
