:host {
  width: 100%;
  display: block;
}

.info-holder {
  display: flex;
  flex-direction: column;
}

.title-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.title-name {
  margin-bottom: 0;
}

.input-url {
  background: transparent;
  border-radius: 0.5rem;
  padding: 0.8rem;
  width: 100%;
  border: 0.1rem solid black;
  color: white;
  margin-bottom: 1rem;

  &:focus {
    outline: none;
    border-color: red;
  }
}

.label-hidden {
  display: none;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;

  button {
    width: 45%;
  }

  .single-button {
    width: 100%;
  }
}

.mat-table {
  width: 100%;
}

.delete-screen {
  margin-left: auto;
  margin-right: auto;
}

.media-list {
  max-height: 10rem;
  overflow-y: scroll;
  margin-bottom: 2rem;
}
